/* Slideshow container */
.slideshow-container {
    max-width: 414px;
    position: relative;
    margin: auto;
    @media screen and (min-width: 1024px) {
        max-width: 1024px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}

/* Next & previous buttons */
.prev-hero,
.next-hero {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev-hero{
    padding-left: 15px;
    @media screen and (min-width: 1024px) {
        padding-left: 47px;
        }
    @media screen and (min-width: 1280px) {
        padding-left: 85px;
    }
}

.next-hero{
    padding-right: 15px;
@media screen and (min-width: 1024px) {
        padding-right: 47px;
    }
    @media screen and (min-width: 1280px) {
        padding-right: 85px;
    }
}

/* Position the "next button" to the right */
.next-hero {
    right: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

.slideshow-container__images {
    height: 740px;
@media screen and (min-width: 1024px) {
        height: 720px;
    }
}

.room-hero {
    position: relative;
    max-width: 414px;
    z-index: 12;
    margin-left: auto;margin-right: auto;

@media screen and (min-width: 1024px) {
    max-width: 1024px;
}

@media screen and (min-width: 1280px) {
    max-width: 1280px;
}

}

.room-hero__gradient {
    width: 414px;
    height: 143px;
    z-index: 2;
    background: linear-gradient(#000 0%, rgba(0, 0, 0, .55) 54.17%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    z-index: 1;

    @media screen and (min-width: 1024px){
        width: 100%;
        height: 100px;
    }
    
    @media screen and (min-width: 1280px) {
        height: 147px;
    }
}

.room-hero-text {
    margin-bottom: 16px;
    
    @media screen and (min-width: 1024px) {
        margin-right: 350px;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 0;
    }
}

.room-hero-text__title {
    margin-bottom: 15px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    color: var(--primary-white-color);
    @media screen and (min-width: 1024px) {
        margin-right: 60px;
        width: 509px;
        font-size: 36px;
        line-height: 1.14;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 24px;
        width: 509px;
    }
}

.room-hero-text__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    width: 325px;
    color: var(--primary-white-color);
    @media screen and (min-width: 1024px) {
        width: 400px;
        font-size: 16px;
        line-height: 1.25;
    }
}

.room-hero-container {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 64px;
    position: absolute;

    @media screen and (min-width: 1024px) {
        margin-top: 468px;
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 524px;
        justify-content: space-between;
    }
}

.room-hero-button{
    margin-top: 14px;
    margin-left: 109px;
    @media screen and (min-width: 1024px) {
        margin: 0;
        margin-left: 255px;
    }
    
    @media screen and (min-width: 1280px) {
        margin: 0;
        margin-top: 82px;
    }
}

.room-hero-link{
    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.room-hero__social-link{
    @media screen and (min-width: 1024px) {
        display: flex;
        gap: 20px;
        margin-left: 40px;
        margin-top: 42px;
    }
}

.room-hero__adress {
    display: flex;
    margin-left: 175px;
    box-sizing: border-box;
    width: 210px;
    height: 47px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;

    @media screen and (min-width:1024px) {
        width: 285px;
        height: 56px;
        margin-left: 0;
    }
}

.room-hero__adresslink {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: var(--primary-white-color);

    @media screen and (max-width:1023px) {
        padding-right: 3px;
    }

    @media screen and (min-width:1024px) {
        font-size: 16px;
        padding: 8px;
        display: flex;
        gap: 10px;
    }
}

.hero__social-links {
    fill: rgba(243, 198, 83, 0.7);
}

.room-hero__adress--mob {
    margin-bottom: 372px;
    @media screen and (min-width:1024px) {
        display: none;
    }
}

.room-hero__adress--tab {
    display: none;
    margin-bottom: 0px;
    @media screen and (min-width:1024px) {
        display: block;
        margin-top: 24px;
    }
    @media screen and (min-width:1280px) {
        display: none;
    }
}

.room-hero__location-svg {
    width: 24px;
    height: 24px;
    fill: var(--accent-yellow-color);
}