/* Slideshow container */
.slideshow-container {
    max-width: 414px;
    position: relative;
    margin: auto;
    @media screen and (min-width: 1024px) {
        max-width: 1024px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}

/* Next & previous buttons */
.prev-hero,
.next-hero {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev-hero{
    padding-left: 15px;
    @media screen and (min-width: 1024px) {
        padding-left: 47px;
        }
    @media screen and (min-width: 1280px) {
        padding-left: 85px;
    }
}

.next-hero{
    padding-right: 15px;
@media screen and (min-width: 1024px) {
        padding-right: 47px;
    }
    @media screen and (min-width: 1280px) {
        padding-right: 85px;
    }
}

/* Position the "next button" to the right */
.next-hero {
    right: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

.slideshow-container__images {
    height: 780px;
@media screen and (min-width: 1024px) {
        height: 720px;
    }
}

.room-hero {
    position: relative;
    min-width: 414px;
    z-index: 12;
}

.room-hero-text {
    margin-top: 483px;
    z-index: 1;
    position: absolute;
    width: 360px;
    @media screen and (min-width: 1024px) {
        margin-top: 468px;
    }
        @media screen and (min-width: 1280px) {
        margin-top: 524px;
    }
}

.room-hero-text__title {
    margin-bottom: 15px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    color: var(--primary-white-color);
    @media screen and (min-width: 1024px) {
        width: 509px;
        font-size: 36px;
        line-height: 1.14;
    }
}

.room-hero-text__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    @media screen and (min-width: 1024px) {
        width: 400px;
        font-size: 16px;
        line-height: 1.25;
    }
}