:root {
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --accent-yellow-color: #f3c653;
  --accent-gray-color: #828282;
  --subtitle-color: #b4b4b4;
  --first-title-color: #7a7a7a;
  --second-title-color: #494848;

  --brown-text-color: #c79002;
  --first-text-color: #5f5f5f;
  --second-text-color: #7a7a7a;

  --modal-text-color: #808080;
}
