:root {
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --accent-yellow-color: #f3c653;

  --title-grey-color: #828282;
  --title-dark-grey-color: #494848;
  --subtitle-color: #b4b4b4;

  --brown-text-color: #c79002;
  --first-text-color: #5f5f5f;
  --second-text-color: #7a7a7a;

  --modal-text-color: #808080;

  --button-header-color: rgba(0, 0, 0, 0.4);
}
