/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --accent-yellow-color: #f3c653;
  --title-grey-color: #828282;
  --title-dark-grey-color: #494848;
  --subtitle-color: #b4b4b4;
  --brown-text-color: #c79002;
  --first-text-color: #5f5f5f;
  --second-text-color: #7a7a7a;
  --modal-text-color: #808080;
  --button-header-color: rgba(0, 0, 0, 0.4);
}

/* montserrat-300 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-300.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-300.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-300.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* TimesNewRoman-400 - cyrillic */
@font-face {
  font-family: "TimesNewRoman-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TimesNewRoman-Regular.eot");
  src: url("../fonts/TimesNewRoman-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRoman-Regular.woff") format("woff"), url("../fonts/TimesNewRoman-Regular.ttf") format("truetype");
}
/* TimesNewRoman-700 - cyrillic */
@font-face {
  font-family: "TimesNewRoman-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TimesNewRoman-Bold.eot");
  src: url("../fonts/TimesNewRoman-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRoman-Bold.woff") format("woff"), url("../fonts/TimesNewRoman-Bold.ttf") format("truetype");
}
/* FilmP3-700 */
@font-face {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FilmP3Bold.eot");
  src: local("Film P3 Bold"), local("FilmP3Bold"), url("../fonts/FilmP3Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff"), url("../fonts/FilmP3Bold.ttf") format("truetype");
}
.company-slogan {
  font-family: Times New Roman, serif;
  font-size: 20px;
  line-height: 1.15;
  color: var(--subtitle-color);
}
@media screen and (min-width: 1024px) {
  .company-slogan {
    font-size: 32px;
    line-height: 1.1563;
  }
}

.company-title {
  font-family: Film P3;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--title-grey-color);
}
@media screen and (min-width: 1024px) {
  .company-title {
    font-size: 64px;
    line-height: 1.078;
  }
}
.company-title--gray {
  color: var(--title-dark-grey-color);
}
.company-title--inverse {
  color: var(--primary-white-color);
}
.company-title--yellow {
  color: var(--accent-yellow-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-right: 47px;
    padding-left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 85px;
    padding-left: 85px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #0E0C07;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 40px 59px;
  width: 100%;
  max-width: 414px;
}
@media (min-width: 1024px) {
  .footer__container {
    padding: 80px 122px 80px 154px;
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    padding: 80px 187px 80px 216px;
    max-width: 1280px;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer__links {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer__nav {
  margin-right: 0px;
}
@media (min-width: 1024px) {
  .footer__nav {
    margin-right: 137px;
  }
}
@media (min-width: 1280px) {
  .footer__nav {
    margin-right: 199px;
  }
}

.footer__nav-item {
  display: flex;
  margin-bottom: 16px;
}
.footer__nav-item:last-of-type {
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .footer__nav-item:last-of-type {
    margin-bottom: 0;
  }
}

.footer__nav-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-yellow-color);
}

.footer__social-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row-reverse;
}
@media (min-width: 1024px) {
  .footer__social-links {
    flex-direction: column;
    gap: 12px;
  }
}

.footer__social-links-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .footer__social-links-link {
    border: 0.5px solid var(--accent-yellow-color);
    border-radius: 2px;
    padding: 8px 10px;
    width: 144px;
    height: 40px;
    box-sizing: border-box;
  }
}

.footer__social-links-text {
  display: none;
}
@media (min-width: 1024px) {
  .footer__social-links-text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);
  }
}

.footer__social-links-icon {
  fill: var(--accent-yellow-color);
  width: 24px;
  height: 24px;
}

.logo {
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #000;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-yellow-color);
  text-align: center;
  background-color: var(--primary-black-color);
  border: 2px solid var(--primary-white-color);
  border-radius: 25px;
  width: 236px;
  height: 48px;
}
.button:hover, .button:active, .button:focus {
  background-color: var(--primary-white-color);
  border-color: var(--accent-yellow-color);
}

.button--header {
  background-color: var(--button-header-color);
}
.button--header:hover, .button--header:active, .button--header:focus {
  border: none;
}

.button--book {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  border: 1px solid var(--accent-yellow-color);
  width: 384px;
  height: 64px;
}
.button--book:hover, .button--book:active, .button--book:focus {
  background-color: var(--accent-yellow-color);
  color: var(--primary-black-color);
}
@media (min-width: 1024px) {
  .button--book {
    font-size: 24px;
    width: 434px;
    height: 64px;
  }
}

.button--book-modal {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  border: 1px solid var(--accent-yellow-color);
  border-radius: 0;
  width: 384px;
  height: 64px;
}
.button--book-modal:hover, .button--book-modal:active, .button--book-modal:focus {
  background-color: var(--accent-yellow-color);
  color: var(--primary-black-color);
}
@media (min-width: 1024px) {
  .button--book-modal {
    font-size: 24px;
    width: 592px;
    height: 64px;
  }
}

.contacts {
  padding-top: 36px;
  padding-bottom: 32px;
  background-color: #fffdee;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 33.5%, rgba(186, 186, 186, 0.4) 33.7% 33.7%, rgba(0, 0, 0, 0) 33.9% 66%, rgba(186, 186, 186, 0.4) 66.2% 66.2%, rgba(0, 0, 0, 0) 66.4% 100%, rgba(0, 0, 0, 0) 0);
}
@media screen and (min-width: 1024px) {
  .contacts {
    padding-top: 56px;
    padding-bottom: 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 27%, rgba(186, 186, 186, 0.4) 27.1% 27.1%, rgba(0, 0, 0, 0) 27.2% 49.9%, rgba(186, 186, 186, 0.4) 50% 50%, rgba(0, 0, 0, 0) 50.1% 72.8%, rgba(186, 186, 186, 0.4) 72.9% 72.9%, rgba(0, 0, 0, 0) 73% 100%, rgba(0, 0, 0, 0) 0);
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    padding-bottom: 73px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 26.3%, rgba(186, 186, 186, 0.4) 26.4% 26.4%, rgba(0, 0, 0, 0) 26.5% 49.9%, rgba(186, 186, 186, 0.4) 50% 50%, rgba(0, 0, 0, 0) 50.1% 73.5%, rgba(186, 186, 186, 0.4) 73.6% 73.6%, rgba(0, 0, 0, 0) 73.7% 100%, rgba(0, 0, 0, 0) 0);
  }
}

@media screen and (min-width: 1024px) {
  .contacts-info {
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .contacts-data {
    margin-right: 101px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-data {
    margin-right: 108px;
  }
}

.company-title--gray {
  margin: 0 0 12px;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .company-title--gray {
    font-size: 64px;
    margin: 0 0 8px;
  }
}
@media screen and (min-width: 1280px) {
  .company-title--gray {
    margin: 0 0 16px;
    color: var(--title-grey-color);
  }
}

.contacts__subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--first-text-color);
}
@media screen and (min-width: 1024px) {
  .contacts__subtitle {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.contacts-list {
  display: block;
}

.contacts-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.contacts-list__item:last-of-type {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .contacts-list__item {
    display: block;
    margin-bottom: 24px;
  }
  .contacts-list__item:nth-child(2) {
    margin-bottom: 48px;
  }
  .contacts-list__item:last-of-type {
    margin-bottom: 0;
  }
}

.contacts-list__title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  min-width: 102px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 22px;
  color: var(--brown-text-color);
}
.contacts-list__title--hidden {
  visibility: hidden;
}
@media screen and (min-width: 1024px) {
  .contacts-list__title--hidden {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-list__title {
    margin-bottom: 8px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  max-width: 285px;
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 7px;
  padding-left: 8px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  background-color: var(--primary-white-color);
  border: 0.5px solid var(--accent-yellow-color);
  border-radius: 2px;
}
.contacts-list__link:hover, .contacts-list__link:focus {
  cursor: pointer;
}
.contacts-list__link--united {
  gap: 11px;
}
@media screen and (min-width: 1024px) {
  .contacts-list__link--united {
    gap: 15px;
  }
}
.contacts-list__link--expanded {
  padding-top: 8px;
  padding-right: 33px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}
.contacts-list__link--expanded .contacts-list__icon {
  margin-right: 10px;
}
@media screen and (min-width: 1024px) {
  .contacts-list__link--expanded {
    padding-top: 9px;
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-list__link {
    display: inline-flex;
    max-width: 285px;
  }
}

.contacts-list__link .link {
  display: flex;
  align-items: center;
  color: var(--first-text-color);
}

.contacts-list__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: var(--brown-text-color);
}

.map-responsive {
  display: flex;
  align-items: flex-end;
  margin: 0;
  width: 100%;
  height: 220px;
  background-color: var(--first-text-color);
  border: 1px solid #bababa;
  border-radius: 2px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .map-responsive {
    width: 535px;
    height: 412px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1280px) {
  .map-responsive {
    width: 634px;
    height: 412px;
  }
}
.map-responsive iframe {
  width: 100%;
  height: 100%;
}

.our-restaurant .container {
  position: relative;
}

.our-restaurant {
  padding-top: 16px;
  padding-bottom: 20px;
  background-image: linear-gradient(90deg, transparent, transparent 33.3333333333%, #bababa calc(33.3333333333% + 1px), transparent calc(33.3333333333% + 1px)), linear-gradient(90deg, transparent, transparent calc(66.6666666667% - 1px), #bababa 66.6666666667%, transparent 66.6666666667%);
}
@media screen and (min-width: 1024px) {
  .our-restaurant {
    padding-top: 120px;
    padding-bottom: 32px;
    background-image: linear-gradient(90deg, transparent, transparent 25%, #bababa calc(25% + 1px), transparent calc(25% + 1px)), linear-gradient(90deg, transparent, transparent calc(50% - 1px), #bababa 50%, transparent 50%), linear-gradient(90deg, transparent, transparent calc(75% - 1px), #bababa 50%, transparent 75%);
  }
}
@media screen and (min-width: 1280px) {
  .our-restaurant {
    padding-bottom: 50px;
  }
}
.our-restaurant__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  width: 258px;
  margin-bottom: 28px;
  color: var(--first-text-color);
}
@media screen and (min-width: 1024px) {
  .our-restaurant__text {
    font-size: 16px;
    width: 439px;
    margin-bottom: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .our-restaurant__text {
    width: 518px;
    margin-bottom: 162px;
  }
}
.our-restaurant__text--brown {
  width: 163px;
  margin: 70px 0 0 20px;
  color: var(--brown-text-color);
}
@media screen and (min-width: 1024px) {
  .our-restaurant__text--brown {
    margin: 196px 0 0 48px;
    width: 312px;
  }
}
@media screen and (min-width: 1280px) {
  .our-restaurant__text--brown {
    margin: 186px 0 0 32px;
  }
}
.our-restaurant__photo {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .our-restaurant__photo {
    margin-bottom: 32px;
  }
}
.our-restaurant__photo--right {
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .our-restaurant__photo--right {
    position: absolute;
    top: -152px;
    right: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .our-restaurant__photo--right {
    right: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .our-restaurant__photo--reset {
    box-shadow: none;
  }
}
.our-restaurant__container {
  display: flex;
}
.our-restaurant__company-slogan {
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .our-restaurant__company-slogan {
    margin-bottom: 4px;
  }
}
.our-restaurant__company-title {
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .our-restaurant__company-title {
    margin-bottom: 24px;
  }
}

.logo--hero {
  width: 303px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;
  font-size: 96px;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1024px) {
  .logo--hero {
    width: 404px;
    font-size: 128px;
    margin-bottom: 16px;
    line-height: 1.08;
    letter-spacing: 0.3em;
  }
}

.ordering {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .ordering {
    display: flex;
  }
}

@media screen and (max-width: 1023px) {
  .ordering__item {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .ordering__item {
    margin-right: 40px;
  }
}
.ordering__item:last-child {
  margin: 0;
}

.social-area {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
@media screen and (min-width: 1280px) {
  .social-area {
    display: none;
  }
}

.social-area__item {
  margin-right: 20px;
}
.social-area__item:last-child {
  margin-right: 0;
}

.social-area__icon {
  fill: var(--accent-yellow-color);
}

.map-pointer {
  width: 20px;
  height: 20px;
  fill: var(--accent-yellow-color);
  margin-right: 8px;
}

.hero--homepage {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 20px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile-images/homepage-hero-background-414.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 414px) and (min-device-pixel-ratio: 2), screen and (min-width: 414px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 414px) and (min-resolution: 192dpi), screen and (min-width: 414px) and (min-resolution: 2dppx) {
  .hero--homepage {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile-images/homepage-hero-background-414@2x.jpg);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero--homepage {
    padding-top: 164px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tablet-images/homepage-hero-background-1024.jpg);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .hero--homepage {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tablet-images/homepage-hero-background-1024@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero--homepage {
    padding-top: 164px;
    padding-bottom: 64px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop-images/homepage-hero-background-1280.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero--homepage {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop-images/homepage-hero-background-1280@2x.jpg);
  }
}

.hero__address {
  border: 1px solid var(--accent-yellow-color);
  border-radius: 2px;
  padding-left: 6px;
  display: none;
}
@media screen and (max-width: 1023px) {
  .hero__address--mobile {
    width: 210px;
    height: 47px;
    margin-left: auto;
    margin-bottom: 70px;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .hero__address--tablet {
    display: flex;
    width: 285px;
    height: 56px;
  }
}

.hero__adress-position--tab {
  display: flex;
  justify-content: center;
  margin-bottom: 58px;
}
@media screen and (min-width: 1024px) {
  .hero__adress-position--tab {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__adress-position--tab {
    margin-bottom: 0px;
  }
}

.hero__address-link {
  text-decoration: none;
  color: var(--primary-white-color);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hero__address-text {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 1024px) {
  .hero__address-text {
    font-size: 16px;
  }
}

.hero-title__description {
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1024px) {
  .hero-title__description {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.company-slogan--hero {
  padding: 0;
  margin: 0;
  margin-bottom: 113px;
  text-transform: uppercase;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1024px) {
  .company-slogan--hero {
    margin-bottom: 137px;
    font-size: 36px;
    line-height: 1.14;
  }
}

.button--transparent {
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .button--transparent {
    background-color: var(--primary-black-color);
  }
}

.hero--restaurant {
  max-width: 1600px;
  padding-top: 64px;
  padding-bottom: 20px;
  height: 740px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile-images/restaurant-hero-background-414.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 414px) {
  .hero--restaurant {
    width: 414px;
  }
}
@media screen and (min-width: 414px) and (min-device-pixel-ratio: 2), screen and (min-width: 414px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 414px) and (min-resolution: 192dpi), screen and (min-width: 414px) and (min-resolution: 2dppx) {
  .hero--restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile-images/restaurant-hero-background-414@2x.jpg);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero--restaurant {
    width: 1024px;
    height: 720px;
    padding-top: 100px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tablet-images/restaurant-hero-background-1024.jpg);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .hero--restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tablet-images/restaurant-hero-background-1024@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero--restaurant {
    width: 100%;
    height: 720px;
    padding-top: 100px;
    padding-bottom: 65px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop-images/restaurant-hero-background-1280.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero--restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop-images/restaurant-hero-background-1280@2x.jpg);
  }
}/*# sourceMappingURL=index.css.map */