/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --accent-yellow-color: #f3c653;
  --title-grey-color: #828282;
  --title-dark-grey-color: #494848;
  --subtitle-color: #b4b4b4;
  --brown-text-color: #c79002;
  --first-text-color: #5f5f5f;
  --second-text-color: #7a7a7a;
  --modal-text-color: #808080;
}

/* montserrat-300 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-300.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-300.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-300.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* TimesNewRoman-400 - cyrillic */
@font-face {
  font-family: "TimesNewRoman-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TimesNewRoman-Regular.eot");
  src: url("../fonts/TimesNewRoman-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRoman-Regular.woff") format("woff"), url("../fonts/TimesNewRoman-Regular.ttf") format("truetype");
}
/* TimesNewRoman-700 - cyrillic */
@font-face {
  font-family: "TimesNewRoman-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TimesNewRoman-Bold.eot");
  src: url("../fonts/TimesNewRoman-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRoman-Bold.woff") format("woff"), url("../fonts/TimesNewRoman-Bold.ttf") format("truetype");
}
/* FilmP3-700 */
@font-face {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FilmP3Bold.eot");
  src: local("Film P3 Bold"), local("FilmP3Bold"), url("../fonts/FilmP3Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff"), url("../fonts/FilmP3Bold.ttf") format("truetype");
}
.company-slogan {
  font-family: Times New Roman, serif;
  font-size: 20px;
  line-height: 1.15;
  color: var(--subtitle-color);
}
@media screen and (min-width: 1024px) {
  .company-slogan {
    font-size: 32px;
    line-height: 1.1563;
  }
}

.company-title {
  font-family: Film P3;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--title-grey-color);
}
@media screen and (min-width: 1024px) {
  .company-title {
    font-size: 64px;
    line-height: 1.078;
  }
}
.company-title--gray {
  color: var(--title-dark-grey-color);
}
.company-title--inverse {
  color: var(--primary-white-color);
}
.company-title--yellow {
  color: var(--accent-yellow-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-right: 47px;
    padding-left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 85px;
    padding-left: 85px;
  }
}

.page-header {
  width: 100vw;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(53, 25, 2);
}
@media screen and (min-width: 1024px) {
  .page-header {
    height: 100px;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav__logo {
  display: flex;
  padding-top: 16px;
  margin-right: 52px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.92;
  letter-spacing: 0.3em;
  color: var(--primary-white-color);
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .site-nav__logo {
    font-size: 40px;
    line-height: 1.08;
    padding-top: 24px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav__logo {
    margin-right: 96px;
  }
}

.site-nav__list {
  list-style: none;
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .site-nav__list {
    gap: 72px;
  }
}

.site-nav__info {
  padding-top: 28px;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .site-nav__info {
    padding-top: 30px;
    align-items: center;
  }
}

.site-nav__page {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-yellow-color);
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .site-nav__page {
    font-size: 20px;
    line-height: 1.2;
    margin-right: 32px;
  }
}

.site-nav__phone {
  display: none;
}
@media screen and (min-width: 1024px) {
  .site-nav__phone {
    margin-left: 8px;
    margin-right: 8px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    text-decoration: none;
  }
}

.site-nav__contact {
  border: 0;
}
@media screen and (min-width: 1024px) {
  .site-nav__contact {
    display: flex;
    align-items: center;
    height: 40px;
    flex-direction: row;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .site-nav__contact + .contact {
    min-width: 264px;
  }
}

.site-nav__icon {
  fill: var(--accent-yellow-color);
  width: 24px;
  height: 24px;
}

.site-net {
  width: 112px;
  margin-left: 59px;
  align-self: center;
}

.site-net__link {
  display: none;
}
@media screen and (min-width: 1280px) {
  .site-net__link {
    display: flex;
  }
}

.site-net__list {
  width: 112px;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  display: flex;
  padding: 0;
  background-color: transparent;
  border: none;
}

.site-net__icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-yellow-color);
}

.logo {
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #000;
}/*# sourceMappingURL=index.css.map */