/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --accent-yellow-color: #f3c653;
  --title-grey-color: #828282;
  --title-dark-grey-color: #494848;
  --subtitle-color: #b4b4b4;
  --brown-text-color: #c79002;
  --first-text-color: #5f5f5f;
  --second-text-color: #7a7a7a;
  --modal-text-color: #808080;
  --button-header-color: rgba(0, 0, 0, 0.4);
}

/* montserrat-300 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-300.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-300.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-300.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* TimesNewRoman-400 - cyrillic */
@font-face {
  font-family: "TimesNewRoman-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TimesNewRoman-Regular.eot");
  src: url("../fonts/TimesNewRoman-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRoman-Regular.woff") format("woff"), url("../fonts/TimesNewRoman-Regular.ttf") format("truetype");
}
/* TimesNewRoman-700 - cyrillic */
@font-face {
  font-family: "TimesNewRoman-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TimesNewRoman-Bold.eot");
  src: url("../fonts/TimesNewRoman-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRoman-Bold.woff") format("woff"), url("../fonts/TimesNewRoman-Bold.ttf") format("truetype");
}
/* FilmP3-700 */
@font-face {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FilmP3Bold.eot");
  src: local("Film P3 Bold"), local("FilmP3Bold"), url("../fonts/FilmP3Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff"), url("../fonts/FilmP3Bold.ttf") format("truetype");
}
.company-slogan {
  font-family: Times New Roman, serif;
  font-size: 20px;
  line-height: 1.15;
  color: var(--subtitle-color);
}
@media screen and (min-width: 1024px) {
  .company-slogan {
    font-size: 32px;
    line-height: 1.1563;
  }
}

.company-title {
  font-family: Film P3;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--title-grey-color);
}
@media screen and (min-width: 1024px) {
  .company-title {
    font-size: 64px;
    line-height: 1.078;
  }
}
.company-title--gray {
  color: var(--title-dark-grey-color);
}
.company-title--inverse {
  color: var(--primary-white-color);
}
.company-title--yellow {
  color: var(--accent-yellow-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-right: 47px;
    padding-left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 85px;
    padding-left: 85px;
  }
}

.logo {
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #000;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-yellow-color);
  text-align: center;
  background-color: var(--primary-black-color);
  border: 2px solid var(--primary-white-color);
  border-radius: 25px;
  width: 236px;
  height: 48px;
}
.button:hover, .button:active, .button:focus {
  background-color: var(--primary-white-color);
  border-color: var(--accent-yellow-color);
}

.button--header {
  background-color: var(--button-header-color);
}
.button--header:hover, .button--header:active, .button--header:focus {
  border: none;
}

.button--book {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  border: 1px solid var(--accent-yellow-color);
  width: 384px;
  height: 64px;
}
.button--book:hover, .button--book:active, .button--book:focus {
  background-color: var(--accent-yellow-color);
  color: var(--primary-black-color);
}
@media (min-width: 1024px) {
  .button--book {
    font-size: 24px;
    width: 434px;
    height: 64px;
  }
}

.button--book-modal {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  border: 1px solid var(--accent-yellow-color);
  border-radius: 0;
  width: 384px;
  height: 64px;
}
.button--book-modal:hover, .button--book-modal:active, .button--book-modal:focus {
  background-color: var(--accent-yellow-color);
  color: var(--primary-black-color);
}
@media (min-width: 1024px) {
  .button--book-modal {
    font-size: 24px;
    width: 592px;
    height: 64px;
  }
}

.logo--hero {
  width: 303px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 96px;
  color: var(--primary-white-color);
}

.ordering {
  margin-bottom: 58px;
}

.social-area {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-area__item {
  margin-right: 20px;
}
.social-area__item:last-child {
  margin-right: 0;
}

.social-area__icon {
  fill: var(--accent-yellow-color);
}

.map-pointer {
  width: 20px;
  height: 20px;
  fill: var(--accent-yellow-color);
  margin-right: 8px;
}

.hero--homepage {
  max-width: 1600px;
  padding-top: 64px;
  padding-bottom: 20px;
  height: 740px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile-images/homepage-hero-background-414.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 414px) {
  .hero--homepage {
    width: 414px;
  }
}
@media screen and (min-width: 414px) and (min-device-pixel-ratio: 2), screen and (min-width: 414px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 414px) and (min-resolution: 192dpi), screen and (min-width: 414px) and (min-resolution: 2dppx) {
  .hero--homepage {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile-images/homepage-hero-background-414@2x.jpg);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero--homepage {
    width: 1024px;
    height: 720px;
    padding-top: 100px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tablet-images/homepage-hero-background-1024.jpg);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .hero--homepage {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tablet-images/homepage-hero-background-1024@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero--homepage {
    width: 100%;
    height: 720px;
    padding-top: 100px;
    padding-bottom: 65px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop-images/homepage-hero-background-1280.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero--homepage {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop-images/homepage-hero-background-1280@2x.jpg);
  }
}

.hero__address {
  width: 210px;
  height: 47px;
  border: 1px solid var(--accent-yellow-color);
  border-radius: 2px;
  padding-left: 6px;
  margin-left: auto;
  margin-bottom: 70px;
  display: flex;
}

.hero__address-link {
  text-decoration: none;
  color: var(--primary-white-color);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hero__address-text {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.hero-title__description {
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.company-slogan--hero {
  margin-bottom: 113px;
  text-transform: uppercase;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
}

.button--transparent {
  background-color: rgba(0, 0, 0, 0.4);
}
.button--transparent-hero {
  margin-bottom: 24px;
}
.button--transparent-hero:last-child {
  margin-bottom: 0;
}

.logo--hero {
  margin-bottom: 24px;
  font-size: 96px;
  color: var(--primary-white-color);
}

.ordering {
  margin-bottom: 58px;
}

.social-area {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-area__item {
  margin-right: 20px;
}
.social-area__item:last-child {
  margin-right: 0;
}

.social-area__icon {
  fill: var(--accent-yellow-color);
}

.map-pointer {
  width: 20px;
  height: 20px;
  fill: var(--accent-yellow-color);
  margin-right: 8px;
}

.hero--restaurant {
  max-width: 1600px;
  padding-top: 64px;
  padding-bottom: 20px;
  height: 740px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile-images/restaurant-hero-background-414.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 414px) {
  .hero--restaurant {
    width: 414px;
  }
}
@media screen and (min-width: 414px) and (min-device-pixel-ratio: 2), screen and (min-width: 414px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 414px) and (min-resolution: 192dpi), screen and (min-width: 414px) and (min-resolution: 2dppx) {
  .hero--restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile-images/restaurant-hero-background-414@2x.jpg);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero--restaurant {
    width: 1024px;
    height: 720px;
    padding-top: 100px;
    padding-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tablet-images/restaurant-hero-background-1024.jpg);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .hero--restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tablet-images/restaurant-hero-background-1024@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero--restaurant {
    width: 100%;
    height: 720px;
    padding-top: 100px;
    padding-bottom: 65px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop-images/restaurant-hero-background-1280.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero--restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop-images/restaurant-hero-background-1280@2x.jpg);
  }
}

.hero__address {
  width: 210px;
  height: 47px;
  border: 1px solid var(--accent-yellow-color);
  border-radius: 2px;
  margin-left: auto;
  margin-bottom: 70px;
  display: flex;
}

.hero__address-link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--primary-white-color);
  display: flex;
  align-items: center;
}

.hero-title__description {
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.company-slogan--hero {
  margin-bottom: 113px;
  text-transform: uppercase;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
}

.button--transparent {
  background-color: rgba(0, 0, 0, 0.4);
}
.button--transparent-hero {
  margin-bottom: 24px;
}
.button--transparent-hero:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=index.css.map */