.room-luxe {
  overflow: hidden;
  background-color: #fffdee;

  @media screen and (min-width: 1024px) {
    overflow: visible;
  }
  &__gradients {
    margin: 0 auto;

    @media screen and (min-width: 1280px) {
      width: 1280px;
      backdrop-filter: blur(0.5px);
      background-image: linear-gradient(
        to right,
        #fffdee 338px,
        rgba(186, 186, 186, 0.4) 338px,
        rgba(186, 186, 186, 0.4) 339px,
        #fffdee 339px,
        #fffdee 640px,
        rgba(186, 186, 186, 0.4) 640px,
        rgba(186, 186, 186, 0.4) 641px,
        #fffdee 641px,
        #fffdee 942px,
        rgba(186, 186, 186, 0.4) 942px,
        rgba(186, 186, 186, 0.4) 943px,
        #fffdee 943px
      );
    }
    &--tablet {
      @media screen and (min-width: 1024px) and (max-width: 1279px) {
        width: 1024px;
        margin: 0 auto;
        backdrop-filter: blur(0.5px);
        background-image: linear-gradient(
          to right,
          #fffdee 278px,
          rgba(186, 186, 186, 0.4) 278px,
          rgba(186, 186, 186, 0.4) 279px,
          #fffdee 279px,
          #fffdee 512px,
          rgba(186, 186, 186, 0.4) 512px,
          rgba(186, 186, 186, 0.4) 513px,
          #fffdee 513px,
          #fffdee 746px,
          rgba(186, 186, 186, 0.4) 746px,
          rgba(186, 186, 186, 0.4) 747px,
          #fffdee 747px
        );
      }
    }
  }
}

.conteiner-group {

  @media screen and (max-width: 1023px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1024px) {
    position: relative;

    overflow: visible;
    padding-bottom: 40px;
    padding-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 72px;
    padding-bottom: 40px;
  }
}
.set-group {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;

    margin-bottom: 176px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 188px;
  }
}

.room-luxe__company-slogan {
  margin-bottom: 8px;

  font-family: Times New Roman, serif;
  font-size: 20px;
  line-height: 1.15;

  color: var(--subtitle-color);

  @media screen and (min-width: 1024px) {
    margin-bottom: 4px;

    font-size: 32px;
    line-height: 1.1563;
  }
}

.company-hotel__title {
  font-family: Film P3;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: var(--title-dark-grey-color);

  @media screen and (min-width: 1024px) {
    font-size: 64px;
    line-height: 1.078;
  }
}

.room-luxe__title {
  margin-bottom: 12px;
  margin-top: 32px;

  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--primary-black-color);

  @media screen and (min-width: 1024px) {
    margin-top: 62px;
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 1.133;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 72px;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 41px;
  }
}

.room-luxe__text {
  max-width: 258px;
  margin-bottom: 32px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--first-text-color);

  @media screen and (min-width: 1024px) {
    max-width: 439px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: 400px;
    font-weight: 700;
  }
}

.room-luxe__image {
  width: 244px;
  height: 322px;

  margin-top: 32px;
  margin-bottom: 32px;

  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

  background-color: #dadada;
  margin: 0;

  @media screen and (min-width: 1024px) {
    position: absolute;

    top: -32px;
    right: 65px;
    margin: 0;

    width: 400px;
    height: 524px;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;

    top: -33px;
    right: 95px;
    margin: 0;

    width: 460px;
    height: 574px;
  }
}
.room-luxe__image-box {
  margin-bottom: 32px;
  display: flex;
  justify-content: end;
}
.block-group {
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    display: flex;

    justify-content: space-between;
   
  }
}
.slyder-group {
  display: flex;

  margin-bottom: 20px;
  transform: translateX(-115px);

  @media screen and (min-width: 1024px) {
    margin-bottom: 32px;
    transform: translateX(0);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }

  & li {
    margin-left: 16px;
    @media screen and (min-width: 1024px) {
      margin-left: 40px;
    }
  }
  & li:first-child {
    margin-left: 0;
  }
}
.slyder-group__image {
  width: 194px;

  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

  background-color: #dadada;

  @media screen and (min-width: 1280px) {
    width: 254px;
    height: 254px;
  }
}

.arrows-group {
  display: flex;
  margin-left: 15px;
  gap: 32px;

  @media screen and (min-width: 1024px) {
    justify-content: flex-end;
    margin-left: 0;
  }
}
.arrows-group__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  fill: var(--primary-black-color);
}

.list-group {
  cursor: pointer;
  gap: 16px;

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 1023px) {
    text-align: center;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: column;

    padding-bottom: 60px;
    margin-top: 0;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-bottom: 90px;
    margin-top: 0;
  }
}

.list-group__button,
.list-group__list {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--accent-yellow-color);
  text-align: center;
  background-color: var(--primary-black-color);
  border: 2px solid var(--primary-white-color);
  border-radius: 25px;
  width: 236px;
  height: 48px;
  &:hover,
  &:active,
  &:focus {
    background-color: var(--primary-white-color);
    border-color: var(--accent-yellow-color);
  }
}
.list-group__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
