.contacts {
    background-color: #fffdee;
}

.gradient {
    width: 414px;
    margin-right: auto;
    margin-left: auto;

    padding-top: 36px;
    padding-bottom: 32px;

    background-image: linear-gradient(to right,
            #0000 140px,
            rgba(186, 186, 186, 0.4) 140px,
            rgba(186, 186, 186, 0.4) 141px,
            #0000 141px,
            #0000 274px,
            rgba(186, 186, 186, 0.4) 274px,
            rgba(186, 186, 186, 0.4) 275px,
            #0000 275px,
        );

    @media screen and (min-width: 1024px) {
        width: 1024px;
        padding-top: 56px;
        padding-bottom: 40px;

        background-image: linear-gradient(to right,
                #fffdee 277px,
                rgba(186, 186, 186, 0.4) 277px,
                rgba(186, 186, 186, 0.4) 278px,
                #fffdee 278px,
                #fffdee 511px,
                rgba(186, 186, 186, 0.4) 511px,
                rgba(186, 186, 186, 0.4) 512px,
                #fffdee 512px,
                #fffdee 746px,
                rgba(186, 186, 186, 0.4) 746px,
                rgba(186, 186, 186, 0.4) 747px,
                #fffdee 747px,
            );
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding-bottom: 73px;

        background-image: linear-gradient(to right,
                #fffdee 338px,
                rgba(186, 186, 186, 0.4) 338px,
                rgba(186, 186, 186, 0.4) 339px,
                #fffdee 339px,
                #fffdee 640px,
                rgba(186, 186, 186, 0.4) 640px,
                rgba(186, 186, 186, 0.4) 641px,
                #fffdee 641px,
                #fffdee 942px,
                rgba(186, 186, 186, 0.4) 942px,
                rgba(186, 186, 186, 0.4) 943px,
                #fffdee 943px,
            );
    }
}
.contacts-info {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: flex-end;
    }
}

.contacts-data {
    @media screen and (min-width: 1024px) {
        margin-right: 101px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 108px;
    }
}

.company-title--gray {
    margin: 0 0 12px;
    text-transform: uppercase;

    @media screen and (min-width: 1024px) {
        font-size: 64px;
        margin: 0 0 8px;
    }

    @media screen and (min-width: 1280px) {
        margin: 0 0 16px;
        color: var(--title-grey-color);
    }
}

.contacts__subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 16px;

    color: var(--first-text-color);

    @media screen and (min-width: 1024px) {
        margin-bottom: 52px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

.contacts-list {
    display: block;
}

.contacts-list__item {
    display: flex;
    align-items: center;

    margin-bottom: 16px;

    &:last-of-type {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1024px) {
        display: block;
        margin-bottom: 24px;

        &:nth-child(2) {
            margin-bottom: 48px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.contacts-list__title {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    min-width: 102px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 22px;

    color: var(--brown-text-color);

    &--hidden {
        visibility: hidden;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 8px;
    }
}

.contacts-list__link {
    display: flex;
    align-items: center;

    max-width: 285px;

    padding-top: 9px;
    padding-right: 8px;
    padding-bottom: 7px;
    padding-left: 8px;

    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--first-text-color);

    background-color: var(--primary-white-color);
    border: 0.5px solid var(--accent-yellow-color);
    border-radius: 2px;

    &:hover,
    &:focus {
        cursor: pointer;
    }

    &--united {
        gap: 11px;

        @media screen and (min-width: 1024px) {
            gap: 15px;
        }
    }

    &--expanded {
        padding-top: 8px;
        padding-right: 33px;
        padding-bottom: 7px;
        padding-left: 10px;

        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.01em;

        & .contacts-list__icon {
            margin-right: 10px;
        }

        @media screen and (min-width: 1024px) {
            padding-top: 9px;
            padding-right: 8px;
            padding-left: 8px;
        }
    }

    @media screen and (min-width: 1024px) {
        display: inline-flex;
        max-width: 285px;
    }
}

.link {
    .contacts-list__link & {
        display: flex;
        align-items: center;
        color: var(--first-text-color);
    }
}

.contacts-list__icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 8px;

    fill: var(--brown-text-color);
}

.map-responsive {
    display: flex;
    align-items: flex-end;
    margin: 0;
    width: 100%;
    height: 220px;
    background-color: var(--first-text-color);
   
    border: 1px solid #bababa; 
    border-radius: 2px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        width: 535px;
        height: 412px;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }

    @media screen and (min-width: 1280px) {
        width: 634px;
        height: 412px;
    }

    & iframe {
        width: 100%;
        height: 100%;
    }
}

