.container {
  padding-top: 48px;
  padding-bottom: 96px;
  position: relative;

  @media screen and (min-width: 1170px) {width: 1140px;}
  @media screen and (max-width: 413px) {
    width: 100%;
  }

  @media screen and (min-width: 414px) and (max-width: 1023px) {
    width: 414px;
    padding-top: 24px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1169px) {
    width: 1024px;
  }
}

.head-container {
  margin: 0 auto;
  margin-bottom: 40px;

  @media screen and (max-width: 413px) {
    width: 100%;
  }

  @media screen and (min-width: 415px) and (max-width: 1023px) {
    margin-left: auto;
    margin-bottom: 48px;
    margin-right: 0;
  }
  @media screen and (min-width: 1170px) {width: 595px;}
&--restaurant {
  @media screen and (max-width: 414px) {
    width: 243px;
  }
@media screen and (min-width: 415px) and (max-width: 1169px) {width: 274px;}
  @media screen and (min-width: 1024px) {
    width: 610px;
  }}
  &--hotel {display: flex;
  flex-direction: column;
  @media screen and (min-width: 415px) and (max-width: 1023px) {margin: 0 auto;}
    @media screen and (min-width: 1024px) {
      width: 549px;
    }
  @media screen and (min-width: 1170px) {justify-content: flex-end;
  align-items: end;}
}
}
.arrow-logo {
  fill: #FFF;
  position: absolute;
  &--left {
    @media screen and (min-width: 1024px) {
      left: 280px;
    }
    @media screen and (max-width: 1023px) {bottom: 184px; left: 35px;}
}
&--hotel-left {right: 344px;
@media screen and (min-width: 415px) and (max-width: 1023px) {left: 276px; bottom: 184px;}}
&--right {left: 344px;
@media screen and (max-width: 1023px) {left: 100px;
    bottom: 184px;}}
&--hotel-right {right: 280px;
  @media screen and (min-width: 415px) and (max-width: 1023px) {left: 340px; bottom: 184px;}}
}
.logo--hotel {
  @media screen and (max-width: 1023px) {margin: 0 auto;}}
.thumb {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 415px) and (max-width: 1022px) {flex-direction: column-reverse;}
  @media screen and (min-width: 1024px) {margin-bottom: 24px;}
  &--hotel {
  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }
}}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media screen and (max-width: 1023px) {margin: 0 auto;}
  &--hotel {
    @media screen and (min-width: 1024px) {
    margin-left: 32px;}
}}

.restaurant-details {
  background-color: #000;
  background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/desktop-images/homegape-restaurant.jpg');
    @media screen and (max-width: 1023px) {background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/mobile-images/homepage-restaurant-glass.jpg')}
    &__image {
      &--meat {
        @media screen and (min-width: 1024px) {width: 270px; height: 270px;}
        @media screen and (max-width: 1023px) {
          width: 274px; height: 270px;
        }
    }
  &--fish {
    @media screen and (min-width: 1023px) {width: 162px; height: 270px;}
  }
&--salad {
  @media screen and (min-width: 1023px) {width: 162px; height: 270px;
  @media screen and (min-width: 1169px) {width: 270px; height: 270px;}}
}}
  &__logo {color: #FFFFFF;
    margin-bottom: 16px;
    display: block;
    text-decoration: none;
    font-size: 64px;
    width: 202px;
  
    @media screen and (max-width: 414px) {
      margin: 0 auto;
    }
    @media screen and (max-width: 1023px) {
      width: 127px;
      margin-bottom: 12px;
      font-size: 40px;
    }
}
    &__title {font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 8px;
  @media screen and (max-width: 1023px) {
    // margin: 0 auto;
    width: 127px;
    margin-bottom: 20px;
    font-size: 20px;
  }}
  &__description {font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #BABABA;
    width: 610px;
  
    @media screen and (max-width: 1023px) {
      width: 259px;
      font-size: 12px;
      // padding-left: 12px;
    }}
    &__link {font-family: 'Montserrat';
      font-weight: 700;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: #F3C653;
      text-decoration: none;
      white-space: nowrap;}
      &__button {background: rgba(0, 0, 0, 0.4);
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        margin-bottom: 16px;
        width: 236px;
        height: 48px;
        &:last-child {margin-bottom: 0;}
      @media screen  and (min-width: 1170px) {
         margin-right: 32px;
      }
        @media screen and (min-width: 1024px) and (max-width: 1169px) {
          margin-right: 29px;
        }
      &--book {padding: 14px 24px;
      @media screen and (min-width: 415px) and (max-width: 1023px) {padding:14px 26px;}}
    &--review {padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 31px;
      padding-right: 32px;
      margin-bottom: 0;
    @media screen and (min-width: 415px) and (max-width: 1023px) {padding-left: 37px; padding-right: 37px;}}}
        &__image:nth-child(3) {
          @media screen and (min-width: 1024px) {
            width: 162px;
            height: 270px;
          }
        }
        &__list {display: flex; overflow: hidden;
            @media screen and (max-width: 1023px) {margin-bottom: 80px;}
            &--hotel {
              @media screen and (max-width: 1169px) {
              flex-direction: row-reverse;}
          }}
          
          &__item:first-child {
            @media screen and (min-width: 415px) and (max-width: 1023px) {margin-right: 20px; margin-left: 25px;}}
                &__item:not(:last-child) {
                   @media screen and (min-width: 1024px) and (max-width: 1169px) {
                    margin-right: 34px;
                  }
                  @media screen and (min-width: 1170px) {
                  margin-right: 86px;}
                }}

.hotel-details {
  background-color: #000; 
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/desktop-images/homepage-section5-bad.jpg');
  @media screen and (min-width: 415px) and (max-width: 1023px) {background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/mobile-images/homepage-hotel-bad-mobile.jpg');}
  &__description {
    @media screen and (min-width: 415px) and (max-width: 1023px) {
    margin-bottom: 48px;
  padding-left: 12px;}}
  &__title {
    @media screen and (min-width: 415px) and (max-width: 1023px) {
      text-align: end;
      margin: 0 auto;
      margin-bottom: 20px;
    }}
  &__button {
      margin-right: 0;
      padding-top: 14px;
      padding-bottom: 14px;
      &--book {
          padding-left: 26px;
          padding-right: 26px;
        }
        &--review {
            padding-left: 37px;
            padding-right: 37px;
          }
    }
}