
.logo--hero{
    height: 103px;
    color: #ffff;
    margin-bottom: 24px;
}

.ordering{
    margin-bottom: 58px;
}



.social-area{
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
}

.social-area__item{
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
}

.social-area__icon, .map-pointer{
    fill: #F3C653;
}

.map-pointer{
    margin-right: 8px;
}

.hero--homepage{

    padding-top: 64px;
    padding-bottom: 20px;
    height: 740px;

    text-align: center;
    align-content: center;
    justify-content: center;

        background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(../images/mobile-images/homepage-hero-background-414.jpg);
        background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
    @media screen and(min-width:414px) {
            width: 414px;   
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(0, 0, 0, 0.65),
                        rgba(0, 0, 0, 0.65)),
                    url(../images/mobile-images/homepage-hero-background-414@2x.jpg)
            }
        }
    @media screen and(min-width:1024px)and(max-width:1279px){
        width: 1024px;
        height: 720px;
        padding-top: 100px;
        padding-bottom: 15px;
        

        background-image:linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
                url(../images/tablet-images/homepage-hero-background-1024.jpg);
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image:linear-gradient(to right,
                        rgba(0, 0, 0, 0.65),
                        rgba(0, 0, 0, 0.65)),
                        url(../images/tablet-images/homepage-hero-background-1024@2x.jpg)

                    }
            }
        @media screen and(min-width:1280px) {
            width: 100%;
            height: 720px;
            padding-top: 100px;
            padding-bottom: 65px;
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(../images/desktop-images/homepage-hero-background-1280.jpg);
    
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(0, 0, 0, 0.65),
                        rgba(0, 0, 0, 0.65)),
                    url(../images/desktop-images/homepage-hero-background-1280@2x.jpg)
            }
        }
    
}

.hero__address{
    width: 210px;
    height: 47px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;

    padding: 6px 8px;

    margin-left: auto;
    margin-bottom: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    
    color: #E5E5E5;
    display: flex;

    justify-content: baseline;

}

.hero-title__description{
    margin-bottom: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
        /* identical to box height */
    letter-spacing: 0.02em;
    
        color: #FFFFFF;
}

.company-slogan--hero{
    margin-bottom: 113px;
    font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */
        letter-spacing: 0.05em;
    
        color: #FFFFFF;
}

.button--transparent {
    background-color: transparent;
    &-hero{
        margin-bottom: 24px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

