<footer class="footer">
  <a class="link company-title company-title--yellow" href="./index.html"
    >Mіміно</a
  >
  <div class="footer-links">
    <ul>
      <li><a class="link" href="./index.html">Головна</a></li>
      <li><a class="link" href="./restaurant-page.html">Ресторан</a></li>
      <li><a class="link" href="./hotel-page.html">Готель</a></li>
    </ul>
    <ul>
      <li>
        <a
          class="link"
          href="https://telegram.org/"
          target="_blank"
          rel="noreferrer noopener"
          > <span>
          Telegram</span> <svg></svg>
        </a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
          ><span></span>Facebook</span></a
        >
      </li>
      <li>
        <a
          class="link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
          ><span></span>Instagram</span></a
        >
      </li>
    </ul>
  </div>
</footer>