<!-- Розмітка хедеру (<a class="link" href="/src/index.html"
  ><span class="logo">MIMIHO</span></a
><a class="link" href="/src/restaurant-page.html">Ресторан</a>
<a class="link" href="/src/hotel-page.html">Готель</a>)
<br /> -->
<header class="page-header">
  <div class="container">
    <nav class="site-nav">
      <a class="site-nav__logo" href="/src/index.html">MIMIHO</a>
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <div class="site-nav__page">
            <a class="site-nav__link" href="/src/restaurant-page.html"
              >Ресторан</a
            >
            <div class="site-nav__contact">
              <a class="site-nav__icon" href="tel:095 555 95 33">
                <svg width="12" height="20">
                  <use href="./"></use></svg
              ></a>
              <a class="site-nav__phone" href="tel:095 555 95 33"
                >095 555 95 33</a
              >
            </div>
          </div>
        </li>
        <li class="site-nav__item">
          <div class="site-nav__page">
            <a class="site-nav__link" href="/src/hotel-page.html">Готель</a>
            <div class="site-nav__contact">
              <a
                class="site-nav__icon"
                href="tel:066 849 10 89, tel:067 275 85 40"
              >
                <svg width="12" height="20">
                  <use href="./"></use></svg
              ></a>
              <a class="site-nav__phone" href="tel:066 849 10 89"
                >066 849 10 89</a
              >
              <a class="site-nav__phone" href="tel:067 275 85 40"
                >067 275 85 40</a
              >
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <div class="site-net">
      <ul class="site-net__list">
        <li class="site-net__item">
          <a class="site-net__link" href="./" target="_blank">
            <svg class="site-net__icon" width="24" height="24">
              <use href="./"></use>
            </svg>
          </a>
        </li>
        <li class="site-net__item">
          <a class="site-net__link" href="./" target="_blank"
            ><svg class="site-net__icon" width="24" height="24">
              <use href="./"></use>
            </svg>
          </a>
        </li>
        <li class="site-net__item">
          <a class="site-net__link" href="./" target="_blank"
            ><svg class="site-net__icon" width="24" height="24">
              <use href="./"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
