<header class="page-header">
  <div class="page-header__container container">
    <nav class="site-nav">
      <a class="site-nav__logo" href="/src/index.html">MIMIHO</a>
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <div class="site-nav__info">
            <a class="site-nav__page" href="/src/restaurant-page.html"
              >Ресторан</a
            >
            <div class="site-nav__contact">
              <a href="tel:095 555 95 33"
                ><svg class="site-nav__icon" width="12" height="20">
                  <use href="../images/icons.svg#icon-phone"></use></svg
              ></a>
              <a class="site-nav__phone" href="tel:066 849 10 89"
                >095 555 95 33</a
              >
            </div>
          </div>
        </li>
        <li class="site-nav__item">
          <div class="site-nav__info">
            <a class="site-nav__page" href="/src/hotel-page.html">Готель</a>
            <div class="site-nav__contact">
              <a href="tel:066 849 10 89, tel:067 275 85 40">
                <svg class="site-nav__icon" width="12" height="20">
                  <use href="../images/icons.svg#icon-phone"></use></svg
              ></a>
              <a class="site-nav__phone" href="tel:066 849 10 89"
                >066 849 10 89</a
              >
              <a class="site-nav__phone" href="tel:067 275 85 40"
                >067 275 85 40</a
              >
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <div class="site-net">
      <ul class="site-net__list">
        <li class="site-net__item">
          <a
            class="site-net__link"
            href="https://www.instagram.com"
            target="_blank"
          >
            <svg class="site-net__icon" width="24" height="24">
              <use href="../images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="site-net__item">
          <a
            class="site-net__link"
            href="https://uk-ua.facebook.com"
            target="_blank"
            ><svg class="site-net__icon" width="24" height="24">
              <use href="../images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="site-net__item">
          <a
            class="site-net__link"
            href="https://web.telegram.org"
            target="_blank"
            ><svg class="site-net__icon" width="24" height="24">
              <use href="../images/icons.svg#icon-telegram4"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
