$one-fourth0: calc(100% / 4);
$one-fourth1: calc((100% / 4) + 1px);
$two-fourth0: calc(100% / 4*2);
$two-fourth1: calc((100% / 4*2) + 1px);
$three-fourth0: calc(100% / 4*3);
$three-fourth1: calc((100% / 4*3) - 1px);
$two-third0: calc((264px / 414px)*100%);
$two-third1: calc((264px / 414px)*100% - 1px);
$line-color: rgba(122, 122, 122, 0.4);
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E0C07;
    padding: 40px 40px 40px 59px;
    background-image: linear-gradient(90deg, transparent, transparent $two-third1, $line-color $two-third0, transparent $two-third0);
        transform: translate3d(0, 0, 0);
        @media (min-width: 1024px) {
                padding: 80px 122px;

                    background-image:
                        linear-gradient(90deg, transparent, transparent $two-fourth0, $line-color $two-fourth1, transparent $two-fourth1),
                        linear-gradient(90deg, transparent, transparent $three-fourth1, $line-color $three-fourth0, transparent $three-fourth0);
                    transform: translate3d(0, 0, 0);
                
            }
        @media (min-width: 1280px){
                padding: 80px 187px;
        }
    
}

.footer__links {
    display: flex;
    flex-direction: column;
    
        @media (min-width: 1024px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

        }

}
.footer__nav-links-list {
    margin-right: 0px;
        @media (min-width: 1024px){
            margin-right: 137px;
        }
}
.footer__nav__link-item {
    display: flex;
    margin-bottom: 16px;
        
        &:last-of-type {
            margin-bottom: 32px;
            }

}
.footer__nav__link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);

}

.footer__social-links-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    @media (min-width: 1024px) {
        flex-direction: column;
    }
}
.footer__social-links__item {
    @media (min-width: 1024px) {
        margin-bottom: 12px;}

}
.footer__social-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
        @media (min-width: 1024px) {
        border: 0.5px solid var(--accent-yellow-color);
            border-radius: 2px;
            padding: 8px 10px;
            width: 144px;
            height: 40px;
            box-sizing: border-box;

        }

}
.footer__social-link__text {
    display:none;
    @media (min-width: 1024px) {
        display:block;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: var(--accent-yellow-color);

    }
}
.footer__social-link__icon {
    fill: var(--accent-yellow-color);
    width: 24px;
    height: 24px;

}