body {
background-color: rgb(71, 48, 4);
}
.page-header {
    width: 100vw;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;
@media screen and(min-width:1024px) {
    height: 100px;
}
}
.page-header__container {
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 64px;
    @media screen and(min-width:1024px) {
            height: 100px;
        }
}

// .site-nav {
//      display: flex;
// //     width:100%;
//     justify-content: space-between;
// }

.page-header__company-title {
    padding-top: 16px;
    margin-right: 52px;
    font-size: 36px;
    line-height: 1.08;
    color: var(--primary-white-color);
    text-decoration: none;

    @media screen and(min-width:1024px) {
        font-size: 40px;
        line-height: 1.08;
        padding-top: 24px;
        margin-right: 87px;
    }
    @media screen and(min-width:1280px) {
            margin-right: 96px;
        }
}

.site-nav__list {
    list-style: none;
    display: flex;
    gap: 20px;
    @media screen and(min-width:1024px) {
        gap: 72px;
}
}
.site-nav__item:nth-of-type(2) {
    @media screen and(min-width:1024px) {
    width:366px;
}
}

.site-nav__info {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    gap: 6px;
    @media screen and(min-width:1024px) {
        padding-top: 30px;
        align-items: center;
        gap: 32px;
    }

}

.site-nav__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);
    @media screen and(min-width:1024px) {
        font-size: 20px;
        line-height: 1.2;
    }

}

.site-nav__phone {
    display: none;
    @media screen and(min-width:1024px) {
        margin-left: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: var(--primary-white-color);
        text-decoration: none;
    }
}

.site-nav__contact {
    border: 0;
    @media screen and(min-width:1024px) {
        padding: 0 8px;
        height: 40px;
        min-width: 144px;
        width: max-content;
        display: flex;
        align-items: center;
        height: 40px;
        flex-direction:row;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
}
}

.site-nav__icon {
    display: flex;
    fill: var(--accent-yellow-color);
    width: 24px;
    height: 24px;
}

.site-net {
    width: 112px;
    margin-left: 59px;
    align-self: center;
}
.site-net__link {
    display: none;
    @media screen and(min-width:1280px) {
        display: flex;
        
}
}

.site-net__list {
    
    width: 112px;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    display: flex;
    padding: 0;
    background-color: transparent;
    border: none;
}

.site-net__icon {
    width: 24px;
    height: 24px;
    fill: var(--accent-yellow-color);
}
