.page-header {
    width: 100vw;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;
background-color: rgb(53, 25, 2);
@media screen and(min-width:1024px) {
    height: 100px;
}
}
.page-header__container {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.site-nav {
    display: flex;
    justify-content: space-between;
}

.site-nav__logo {
    display: flex;
    padding-top: 16px;
    margin-right: 52px;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.92;
    letter-spacing: 0.3em;
    color: var(--primary-white-color);
    text-decoration: none;

    @media screen and(min-width:1024px) {
        font-size: 40px;
        line-height: 1.08;
        padding-top: 24px;
        margin-right: 87px;
    }
        @media screen and(min-width:1280px) {
            margin-right: 96px;
        }
}

.site-nav__list {
    list-style: none;
    display: flex;
    gap: 20px;
    @media screen and(min-width:1024px) {
        gap: 72px;
}
}

.site-nav__info {
    padding-top: 28px;
    display: flex;
    @media screen and(min-width:1024px) {
        padding-top: 30px;
        align-items: center;
    }

}

.site-nav__page {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);
    text-decoration: none;
    @media screen and(min-width:1024px) {
        font-size: 20px;
        line-height: 1.2;
        margin-right: 32px;
    }

}

.site-nav__phone {
    display: none;

    @media screen and(min-width:1024px) {
        margin-left: 8px;
        margin-right: 8px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: var(--primary-white-color);
        text-decoration: none;
    }
}

.site-nav__contact {
    border: 0;

    @media screen and(min-width:1024px) {
        display: flex;
        align-items: center;
        height: 40px;
        flex-direction: row;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px; 
    & +.contact {
            min-width: 264px;       
}
}




.site-nav__icon {
    fill: var(--accent-yellow-color);
    width: 24px;
    height: 24px;
}
.site-net {
    width: 112px;
    margin-left: 59px;
    align-self: center;
}
.site-net__link {
    display: none;
    @media screen and(min-width:1280px) {
        display: flex;
        
}
}

.site-net__list {
    
    width: 112px;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    display: flex;
    padding: 0;
    background-color: transparent;
    border: none;
}

.site-net__icon {
    width: 24px;
    height: 24px;
    fill: var(--accent-yellow-color);
}