.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal {
    position: absolute;
    width: 100%;
    background-color: #FFFDEE;
    padding: 60px 16px;

    @media screen and (min-width:414px) {
            top: 50%;
            left: 50%;
            max-width: 414px;
            transform: translate(-50%, -50%) scale(1);
        }

    @media screen and (min-width:1024px) {
            max-width: 712px;
            padding: 60px;
        }

    &__close-btn {
        position: absolute;
        top: 16px;
        right: 16px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;

        border: 1px solid transparent;
        background-color: #FFFDEE;
    
        fill: var(--modal-text-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover {
            fill: var(--accent-yellow-color);
        }
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-black-color);
        margin-bottom: 40px;

        font-family: 'Times New Roman';
        font-weight: 700;
        font-size: 24px;
        line-height: 1,16;
        letter-spacing: 0.05em;
    }

     
}

.form {

    @media screen and (min-width:1024px) {
        display: flex;
        flex-wrap: wrap;
        gap: 28px 16px;
    }

    &__input, &__select {
        margin-bottom: 8px;
        padding: 17px 12px;

        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.05em;
        
        color: #808080;
        background-color: #FFFDEE;

        border: 1px solid var(--brown-text-color);
        border-radius: 2px;
    }

    &__label {

        color: var(--brown-text-color);
        margin-left: 12px;
        margin-bottom: 20px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1,21;
        
        letter-spacing: 0.02em;

    }

    &__field {
        display: flex;
        flex-direction: column;

        @media screen and (min-width:1024px) {
             width: 288px;
            }

    }

}