.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
    
            & .modal {
                transform: translate(-50%, -50%) scale(0.9);
            }
        }

}
.modal {
    position: absolute;
    width: 100%;
    background-color: var(--background-lemon);
    padding: 60px 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width:414px) {
            max-width: 414px;
        }

    @media screen and (min-width:1024px) {
            max-width: 712px;
            padding: 60px;
        }

    &__close-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid transparent;
        background-color: var(--background-lemon);
    
        stroke: var(--modal-text-color);
        transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover {
            stroke: var(--accent-yellow-color);
        }
    }

         &__subtitle {
            font-family: 'Times New Roman';
                font-weight: 700;
                font-size: 24px;
                line-height: 1.16;
                letter-spacing: 0.05em;
                color: var(--modal-text-color);
                margin-bottom: 28px;
         }

         &__text {
            font-family: 'Montserrat';
                font-weight: 500;
                font-size: 16px;
                line-height: 1.25;
                letter-spacing: 0.02em;
                color: var(--brown-text-color);

                margin-bottom: 20px;
         }


    &__title {
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-black-color);
        margin-bottom: 40px;

        font-family: 'Times New Roman';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.05em;

        @media screen and (min-width:1024px) {
                font-size: 40px;
            }

    }

     
}

.form {

    &__input, &__select {
        margin-bottom: 8px;
        padding: 16px 12px;

        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.05em;
        
        color: #808080;
        background-color: var(--background-lemon);

        border: 1px solid var(--brown-text-color);
        border-radius: 2px;

        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:1024px) {
            padding: 18px 12px;
                font-size: 24px;
            }
    }

    .form__input:hover,
    .form__select:hover {
                border-color: var(--accent-yellow-color);
    }

    &__label {

        color: var(--brown-text-color);
        margin-left: 12px;

        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        
        letter-spacing: 0.02em;
  
        @media screen and (min-width:1024px) {
                font-size: 16px;
            }

    }

    &__field {
        position: relative;
        display: flex;
        flex-direction: column;

@media screen and (max-width: 1023px) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

        @media screen and (min-width:1024px) {
             width: 288px;
            }

    }

    &__information {
        margin-bottom: 40px;

    @media screen and (min-width:1024px) {
        display: flex;
        flex-wrap: wrap;
        gap: 28px 16px;
    }
    }

}

.modal--table-reservation {
    .form__information {
        @media screen and (min-width:1024px) {
            height: 214px;
            flex-direction: column;
        }
    }
}

.modal--room-reservation {
    .form__field:nth-child(3) {
        @media screen and (min-width:1024px) {
            margin-left: 304px;
        }
    }
         .modal__title {
             @media screen and (min-width:1024px) {
                margin-bottom: 36px;
             }
         }
}

.modal--room-price {
    .modal__title {
            @media screen and (min-width:1024px) {
                font-size: 32px;
            }
        }
    .modal__label {
            font-size: 16px;
            line-height: 1.21;
    }
}


.custom-select::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 20px;
    width: 24px;
    height: 24px;
    fill: var(--brown-text-color);
    background-image: url("../images/arrow-down-bold.svg");
    pointer-events: none;
    z-index: 2;
}

.form__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}
