<div class="bcg-hero">
<section class="container hotel-hero__section">
    <div class="hotel-hero__adress hotel-hero__adress--mob" >
    <a class="hotel-hero__adresslink" href="https://goo.gl/maps/A1TdqW8fbpUCnmj5A" target="_blank"
        rel="noopener noreferrer nofollow">
        <svg class="location-svg" width="24" height="24">
            <use href='./images/icons.svg#icon-location'></use>
        </svg>
        Україна, м. Полтава,<br>
        вул. Маршала Бірюзова, 15</a>
        </div>
        <div class="hotel-hero__position-title">
    <h1 class="hotel-hero__maintitle">mimino</h1>
    <p class="hotel-hero__title">Готель</p>
        </div>
        <div class="hotel-hero__position-tab">
            <div class="hotel-hero__adress hotel-hero__adress--tab">
                <a class="hotel-hero__adresslink" href="https://goo.gl/maps/A1TdqW8fbpUCnmj5A" target="_blank"
                rel="noopener noreferrer nofollow">
                    <svg class="location-svg" width="24" height="24">
                        <use href='./images/icons.svg#icon-location'></use>
                    </svg>
                            Україна, м. Полтава,<br>
                            
                            вул. Маршала Бірюзова, 15</a>
            </div>
        <div class="hotel-hero-button__contain">
    <button class="hotel-hero-button__table" type="button">Забронювати столик</button>
    <button class="hotel-hero-button__room" type="button">Забронювати номер</button>
    <button class="hotel-hero-button__price" type="button">Переглянути ціни</button>
        </div>
        </div>
        <div>
    <ul class="hotel-hero__social-link">
        <li class="list hotel-hero__list">
            <a class="" target="_blank" href="https://www.instagram.com/">
                <svg class="hero__social-links" width="24" height="24">
                    <use href='./images/icons.svg#icon-instagram'></use>
                </svg>
            </a>
        </li>
        <li class="list list hotel-hero__list">
            <a class="" target="_blank" href="https://www.facebook.com">
                <svg class="hero__social-links" width="24" height="24">
                    <use href='./images/icons.svg#icon-facebook'></use>
                </svg>
            </a>
        </li>
        <li class="list list hotel-hero__list">
            <a class="" target="_blank" href="https://desktop.telegram.org/">
                <svg class="hero__social-links" width="24" height="24">
                    <use href='./images/icons.svg#icon-telegram4'></use>
                </svg>
            </a>
        </li>
    </ul>
    </div>
</section>
</div>