<section class="section-room-luks">
  <div class="conteiner-room">
    <div class="set">
      <div>
  <p class="section-room-luks__text">Amet minim mollit non</p>
  
  <h2 class="section-room-luks__label">MIMIHO</h2>
  
  <h3 class="section-room-luks__title">ДВОМІСНИЙ НОМЕР люкс</h3>
  <p class="section-room-periud">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
     amet sint. Velit officia consequat duis enim velit mollit. 
     Exercitation veniam consequat sunt nostrud amet.</p>

    
     
      
      
      <!-- <div class="swiper-buttons-prev"><svg class="text-grup__icon" width="" height="">
        <use href=""></use></svg></div>
      
        <div class="swiper-buttons-next"><svg class="text-grup__icon" width="" height="">
          <use href=""></use></svg></div>
      
  
      <div class="room-luks">
      
        <img src="" alt="" class="room-luks__image">
      
      <ul class="list-grup">
      <li><button class="room-luks__button"><a href="" class="room-luks__list">Детальніше</a></button></li>
      <li><button class="room-luks__button">Переглянути ціни</button></li>
      </ul>
      
      </div>
      
      </div>
      
      </div>
      
      </div>
       -->
      </section>
      
      
      