<section class="section-room-luxe">
  <div class="container">
    <div class="conteiner-grup">
    <div  class="set-grup">
    <div class="set">
  <p class="company-slogan">Amet minim mollit non</p> 
  
  <h2 class="company-title">MIMIHO</h2> 
  
  <h3 class="section-room-luxe__title">ДВОМІСНИЙ НОМЕР люкс</h3>
  <p class="section-room-periud">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
     amet sint. Velit officia consequat duis enim velit mollit. 
     Exercitation veniam consequat sunt nostrud amet.</p>
</div>
 <div class="image">
  <picture>
    <source  media="(max-width:414px)"srcset="
    /src/images/mobile-images/modern-studio-apartment-244.jpg 1x,
     /src\images\mobile-images\modern-studio-apartment-244@2x.jpg 2x
    "/>
    <source media="(min-width:1024px)"srcset="
    /src/images/tablet-images/modern-studio-apartment-400.jpg 1x,
     /src\images\tablet-images\modern-studio-apartment-400@2x.jpg 2x"/>
  
     <source media="(min-width:1280px)"srcset="
     /src/images/desktop-images/modern-studio-apartment-460.jpg 1x,
      /src\images\desktop-images\modern-studio-apartment-460@2x.jpg 2x"/>
   
  <img src="/src/images/mobile-images/modern-studio-apartment-244.jpg" alt=""width="414px" class="hotel-image" >
  </picture>
</div>
  </div>


 <div class="block-grup">
  <div>
<ul class="slyder-grup list">
  <li><picture> 
    <source media="(max-width:414px)"srcset="
    /src/images/mobile-images/slider/hotel-section-slider-image2-194.jpg 1x,
     /src\images\mobile-images\slider\hotel-section-slider-image2-194@2x.jpg 2x"/>
    <source media="(min-width:1024px)"srcset="
    /src/images/tablet-images/slider/hotel-section-slider-image1-194.jpg 1x,
     /src\images\tablet-images\slider\hotel-section-slider-image1-194@2x.jpg 2x
    "/> 
  
     <source media="(min-width:1280px)"srcset="
     /src/images/desktop-images/slider/hotel-section-slider-image1-254.jpg 1x,
      /src\images\desktop-images\slider\hotel-section-slider-image1-254@2x.jpg 2x
     "/>
  
  <img src="/src/images/mobile-images/slider/hotel-section-slider-image2-194.jpg" alt=""width="414px" class="slyder-grup__image" >
  </picture>
</li>
<li><picture>
  <source  media="(max-width:414px)"srcset="
  /src/images/mobile-images/slider/hotel-section-slider-image1-194.jpg 1x,
   /src/images/mobile-images/slider/hotel-section-slider-image1-194@2x.jpg 2x
  "/> 
  <source  media="(min-width:1024px)"srcset="
  /src/images/tablet-images/slider/hotel-section-slider-image2-194.jpg 1x,
   /src/images/tablet-images/slider/hotel-section-slider-image2-194@2x.jpg 2x
"/>

   <source  media="(min-width:1280px)"srcset="
   /src/images/desktop-images/slider/hotel-section-slider-image2-254.jpg 1x,
    /src\images\desktop-images\slider\hotel-section-slider-image2-254@2x.jpg 2x
   "/>

<img  src="/src/images/mobile-images/slider/hotel-section-slider-image1-194.jpg" alt=""width="414px" class="slyder-grup__image" >
</picture>
</li>

</ul>

<div  class="arrows-grup"> 

  <div class="icon-arrow-lift"><svg class="icon-arrow-left__icon" width="32" height="32">
    <use  href="/src/images/icons.svg#icon-arrow-left"></use></svg></div>
  
    <div class="icon-arrow-right"><svg class="icon-arrow-right__icon" width="32" height="32">
      <use href="/src/images/icons.svg#icon-arrow-right"></use></svg></div>

</div>

</div>
     <ul class="list-grup list">
      <li><button type="button" class="button link"><a href="/src/room-page.html"></a> Детальніше</button></li>
     <li><button type="button" class="button">Переглянути ціни</button></li>
     </ul></div>
      </div>
      </div>
    </div>  
      </section>
      
      
      