<br />Розмітка секції "Трьохмісний номер" (секція 3)

<section class="section three-adults">
  <div class="container">
    <div class="three-adults__box">
      <div class="three-adults__company">
        <p class="company-slogan three-adults__company-slogan">
          Amet minim mollit non
        </p>
        <p
          class="company-title company-title--gray three-adults__company-title"
        >
          mimiho
        </p>
      </div>
      <div class="three-adults__info">
        <h2 class="three-adults__title">Трьохмісний номер</h2>
        <p class="three-adults__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="three-adults__img">
        <picture>
          <source 
            srcset="
              ./images/desktop-images/modern-studio-apartment-460.jpg    1x,
              ./images/desktop-images/modern-studio-apartment-460@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet-images/modern-studio-apartment-400.jpg    1x,
              ./images/tablet-images/modern-studio-apartment-400@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/mobile-images/modern-studio-apartment-244.jpg    1x,
              ./images/mobile-images/modern-studio-apartment-244@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />

          <img
            src="./images/mobile-images/modern-studio-apartment-244.jpg"
            alt="Трьохмісний номер"
          />
        </picture>
      </div>

      <div class="three-adults__wrapper">
        <div class="slider">
          <div class="slider__box">
            <picture>
              <source
                srcset="
                  ./images/desktop-images/slider/hotel-section-slider-image1-254.jpg    1x,
                  ./images/desktop-images/slider/hotel-section-slider-image1-254@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet-images/slider/hotel-section-slider-image1-194.jpg    1x,
                  ./images/tablet-images/slider/hotel-section-slider-image1-194@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile-images/slider/hotel-section-slider-image1-194.jpg    1x,
                  ./images/mobile-images/slider/hotel-section-slider-image1-194@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />

              <img
                class="slider__img"
                src="./images/mobile-images/slider/hotel-section-slider-image1-194.jpg"
                alt="чашка на підвіконні"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/desktop-images/slider/hotel-section-slider-image2-254.jpg    1x,
                  ./images/desktop-images/slider/hotel-section-slider-image2-254@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet-images/slider/hotel-section-slider-image2-194.jpg    1x,
                  ./images/tablet-images/slider/hotel-section-slider-image2-194@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile-images/slider/hotel-section-slider-image2-194.jpg    1x,
                  ./images/mobile-images/slider/hotel-section-slider-image2-194@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />

              <img 
                class="slider__img"
                src="./images/mobile-images/slider/hotel-section-slider-image2-194.jpg"
                alt=""
              />
            </picture>
          </div>
          <div class="slider__button-box">
            <button type="button" class="slider__button">
              <svg class="slider__icon">
                <use href="./images/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="slider__button">
              <svg class="slider__icon">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="three-adults__buttons-box">
          <a href="/src/room-page.html" class="button three-adults__link link"
            >Детальніше</a
          >
          <button type="button" class="button three-adults__button">
            Переглянути ціни
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
