<br />Розмітка секції "Трьохмісний номер" (секція 3)

<section class="section three-adults">
  <div class="container">
    <div class="three-adults__box">
      <div class="three-adults__company">
        <p class="company-slogan">Amet minim mollit non</p>
        <p class="company-title company-title--gray">mimiho</p>
      </div>
      <div class="three-adults__info">
        <h2 class="three-adults__title">Трьохмісний номер</h2>
        <p class="three-adults__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="three-adults__img"></div>
      <div class="slider">
        <div class="slider__box">
          <div class="slider__img"></div>
          <div class="slider__img"></div>
        </div>
        <div class="slider__button-box">
          <button type="button" class="slider__button"></button>
          <button type="button" class="slider__button"></button>
        </div>
      </div>
      <div class="three-adults__buttons-box">
        <a href="/src/room-page.html" class="three-adults__link link"
          >Детальніше</a
        >
        <button type="button" class="three-adults__button">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
