<br />Розмітка секції "Трьохмісний номер" (секція 3)

<section class="section three-adults">
  <div class="container">
    <div class="three-adults__box">
      <div class="three-adults__company">
        <p class="company-slogan three-adults__company-slogan">
          Amet minim mollit non
        </p>
        <p
          class="company-title company-title--gray three-adults__company-title"
        >
          mimiho
        </p>
      </div>
      <div class="three-adults__info">
        <h2 class="three-adults__title">Трьохмісний номер</h2>
        <p class="three-adults__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        class="three-adults__img"
        src="./images/mobile-images/modern-studio-apartment-244.jpg"
        alt="Room for three adults"
      />
      <div class="three-adults__wrapper">
        <div class="slider">
          <div class="slider__box">
            <img
              class="slider__img"
              src="./images/mobile-images/slider/hotel-section-slider-image1-194.jpg"
              alt=""
            />
            <img
              class="slider__img"
              src="./images/mobile-images/slider/hotel-section-slider-image2-194.jpg"
              alt=""
            />
          </div>
          <div class="slider__button-box">
            <button type="button" class="slider__button"></button>
            <button type="button" class="slider__button"></button>
          </div>
        </div>
        <div class="three-adults__buttons-box">
          <a href="/src/room-page.html" class="button three-adults__link link"
            >Детальніше</a
          >
          <button type="button" class="button three-adults__button">
            Переглянути ціни
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
