<br />Розмітка секції "Про наш готель" (секція 4)
<section class="about-hotel">
    <div class="container">
        <h2 class="visually-hidden" >Про наш готель</h2>
        <div class="about-hotel__box">
            <h3 class="company-slogan about-hotel__title">Amet minim mollit non</h3>
            <h4 class="company-title about-hotel__subtitle">MIMIHO</h4>
            <p class="about-hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <img class="about-hotel__img" src="../photo/ресторан1.jpg" alt="фото номеру готелю з двухспальним ліжком" width="244">
        <div class="about-hotel__wrapper">
            <p class="about-hotel__text about-hotel__text--color">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <img class="about-hotel__wrapper-img" src="../photo/Frame9.jpg" alt="фото зони відпочинку з двома диванами та каміном" width="200">
        </div>
        <div class="about-hotel__slider">
            <img class="about-hotel__slider-photo" src="../photo/Frame11.jpg" alt="фото складених в рулон чотирьох білих рушників на ліжку" width="245">
            <img class="about-hotel__slider-img" src="../photo/Frame10.jpg" alt="фото рецепшну з адміністратором та клієнтом" width="245">
        </div>
    </div>
</section>
