<section class="our-restaurant">
  <div class="our-restaurant__gradient">
    <div class="container">
      <h2 class="visually-hidden">Про ресторан</h2>
      <p class="company-slogan our-restaurant__company-slogan" lang="la">
        Amet minim mollit non
      </p>
      <p
        class="company-title company-title--gray our-restaurant__company-title"
        lang="la"
      >
        mimino
      </p>
      <p class="our-restaurant__text" lang="la">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/mobile-images/restaurant-interior2-244.jpg    1x,
            ./images/mobile-images/restaurant-interior2-244@2x.jpg 2x
          "
          media="(max-width:1023px)"
        />
        <source
          srcset="
            ./images/tablet-images/restaurant-interior2-400.jpg    1x,
            ./images/tablet-images/restaurant-interior2-400@2x.jpg 2x
          "
          media="(min-width:1024px) and (max-width:1279px)"
        />

        <img
          class="our-restaurant__photo our-restaurant__photo--right"
          srcset="
            ./images/desktop-images/restaurant-interior2-460.jpg    1x,
            ./images/desktop-images/restaurant-interior2-460@2x.jpg 2x
          "
          src="./images/desktop-images/restaurant-interior2-460.jpg"
          alt="Вигляд однієї із зал"
          sizes="(min-width:1024px) 35vw, 60vw"
        />
      </picture>
      <div class="our-restaurant__container">
        <picture>
          <source
            srcset="
              ./images/mobile-images/restaurant-interior3-200.jpg    1x,
              ./images/mobile-images/restaurant-interior3-200@2x.jpg 2x
            "
            media="(max-width:1023px)"
          />
          <source
            srcset="
              ./images/tablet-images/restaurant-interior3-350.jpg    1x,
              ./images/tablet-images/restaurant-interior3-350@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
          />

          <img
            class="our-restaurant__photo our-restaurant__photo--reset"
            srcset="
              ./images/desktop-images/restaurant-interior3-460.jpg    1x,
              ./images/desktop-images/restaurant-interior3-460@2x.jpg 2x
            "
            src="./images/desktop-images/restaurant-interior3-460.jpg"
            alt="Вигляд іншої зали"
            sizes="(min-width:1024px) 35vw, 60vw"
          />
        </picture>
        <p class="our-restaurant__text our-restaurant__text--brown" lang="la">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <!-- <div class="image-slider slider">
        <div class="image-slider__list slider-list">
          <ul class="list image-slider__track slider-track">
            <li class="link image-slider__slide slide">
              <picture>
                <source
                  srcset="
                    ./images/mobile-images/slider/homepage-hotel-section-slider-image1-245.jpg    1x,
                    ./images/mobile-images/slider/homepage-hotel-section-slider-image1-245@2x.jpg 2x
                  "
                  media="(max-width:1023px)"
                />
                <source
                  srcset="
                    ./images/tablet-images/slider/homepage-restaurant-section-slider-image1-194.jpg    1x,
                    ./images/tablet-images/slider/homepage-restaurant-section-slider-image1-194@2x.jpg 2x
                  "
                  media="(min-width:1024px) and (max-width:1279px)"
                />
                <img
                  class="image-slider__image"
                  srcset="
                    ./images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg    1x,
                    ./images/desktop-images/slider/homepage-restaurant-section-slider-image1-254@2x.jpg 2x
                  "
                  src="./images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg"
                  alt="Піднятий кедих вина за столом"
                  sizes="(min-width:1024px) 35vw, 60vw"
                />
              </picture>
            </li>
            <li class="link image-slider__slide slide">
              <picture>
                <source
                  srcset="
                    ./images/mobile-images/slider/slider-image3-245.jpg     1x,
                    ./images/mobile-images/slider/slider-image3-245.@2x.jpg 2x
                  "
                  media="(max-width:1023px)"
                />
                <source
                  srcset="
                    ./images/tablet-images/slider/homepage-restaurant-section-slider-image2-194.jpg    1x,
                    ./images/tablet-images/slider/homepage-restaurant-section-slider-image2-194@2x.jpg 2x
                  "
                  media="(min-width:1024px) and (max-width:1279px)"
                />
                <img
                  class="image-slider__image image-slider__image--reset"
                  srcset="
                    ./images/desktop-images/slider/homepage-restaurant-section-slider-image2-254.jpg    1x,
                    ./images/desktop-images/slider/homepage-restaurant-section-slider-image2-254@2x.jpg 2x
                  "
                  src="./images/desktop-images/slider/homepage-restaurant-section-slider-image2-254.jpg"
                  alt="Засерверований стіл"
                  sizes="(min-width:1024px) 35vw, 60vw"
                />
              </picture>
            </li>
            <li class="link image-slider__slide slide">
              <picture>
                <source
                  srcset="
                    ./images/mobile-images/slider/slider-image1-245.jpg     1x,
                    ./images/mobile-images/slider/slider-image1-245.@2x.jpg 2x
                  "
                  media="(max-width:1023px)"
                />
                <source
                  srcset="
                    ./images/tablet-images/slider/slider-image1-194.jpg    1x,
                    ./images/tablet-images/slider/slider-image1-194@2x.jpg 2x
                  "
                  media="(min-width:1024px) and (max-width:1279px)"
                />
                <img
                  class="image-slider__image image-slider__image--reset"
                  srcset="
                    ./images/desktop-images/slider/slider-image1-254.jpg    1x,
                    ./images/desktop-images/slider/slider-image1-254@2x.jpg 2x
                  "
                  src="./images/desktop-images/slider/slider-image1-254.jpg"
                  alt="Поданий сніданок на стіл"
                  sizes="(min-width:1024px) 35vw, 60vw"
                />
              </picture>
            </li>
          </ul>
        </div>
        <div class="image-slider__arrows slider-arrows">
          <svg class="prev" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>

          <svg class="next" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div> -->
      <!-- slick slider -->
      <section class="slick" id="feedback">
        <!-- <div class="container"> -->
        <ul class="one-time list slick__list">
          <li class="slick__item">
            <!-- <picture>
              <source
                srcset="
                  /src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg,
                  /src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /src/images/tablet-images/slider/homepage-restaurant-section-slider-image1-194.jpg.jpg 1x,
                  /src/images/tablet-images/slider/homepage-restaurant-section-slider-image1-194@2x.jpg  2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  /src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg 1x,
                  /src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg 2x
                "
                media="(max-width: 414px)"
              />
              <img
                src="/src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg"
                alt="На фото номеру готелю з двухспальним ліжком"
                min-width="244"
                class="about-hotel__img"
              />
            </picture> -->
            <img
              class="slick__img"
              src="/src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg"
              alt=""
            />
          </li>
          <li class="slick__item">
            <img
              src="/src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg"
              alt=""
            />
          </li>
          <li class="slick__item">
            <img
              src="/src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg"
              alt=""
            />
          </li>
          <li class="slick__item">
            <img
              src="/src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg"
              alt=""
            />
          </li>
          <li class="slick__item">
            <img
              src="/src/images/desktop-images/slider/homepage-restaurant-section-slider-image1-254.jpg"
              alt=""
            />
          </li>
        </ul>
        <!-- </div> -->
      </section>
    </div>
  </div>
</section>
