<br />Розмітка секції "Про наш готель" (секція 4)
<section class="about-hotel">
    <div class="container">
        <h2 class="visually-hidden" >Про наш готель</h2>
        <div class="about-hotel__box">
            <h3 class="company-slogan about-hotel__title">Amet minim mollit non</h3>
            <h4 class="company-title about-hotel__subtitle">MIMIHO</h4>
            <p class="about-hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <picture>
            <source
                srcset="
                    ./images/desktop-images/modern-studio-apartment-460.jpg    1x,
                    ./images/desktop-images/modern-studio-apartment-460@2x.jpg 2x"                       
                media="(min-width: 1280px)"
                />
            <source
                  srcset="
                    ./images/tablet-images/modern-studio-apartment-400.jpg    1x,
                    ./images/tablet-images/modern-studio-apartment-400@2x.jpg 2x"
                 media="(min-width: 1024px)"
                />
            <source
                srcset="
                ./images/mobile-images/modern-studio-apartment-244.jpg 1x,
                ./images/mobile-images/modern-studio-apartment-244@2x.jpg 2x"
                media="(max-width: 414px)"
                />
            <img
                  src="./images/mobile-images/modern-studio-apartment-244.jpg"
                  alt="На фото номеру готелю з двухспальним ліжком"
                  min-width="244"
                  class="about-hotel__img"
                />
        </picture>
        <div class="about-hotel__wrapper">
            <p class="about-hotel__text about-hotel__text--color">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <picture>
                <source srcset="
                    ./images/desktop-images/hall-interior1-460.jpg    1x,
                    ./images/desktop-images/hall-interior1-460@2x.jpg 2x"
                     media="(min-width: 1280px)" />
                <source srcset="
                    ./images/tablet-images/hall-interior1-350.jpg    1x,
                    ./images/tablet-images/hall-interior1-350@2x.jpg 2x"                    
                    media="(min-width: 1024px)" />
                <source srcset="
                    ./images/mobile-images/hall-interior1-200.jpg 1x,
                    ./images/mobile-images/hall-interior1-200@2x.jpg 2x"
                    media="(max-width: 414px)" />
                <img src="./images/mobile-images/hall-interior1-200.jpg" 
                    alt="На фото зона відпочинку з двома диванами та каміном"
                    min-width="200" class="about-hotel__wrapper-img" />
            </picture>
        </div>
        <div class="about-hotel__slider">
            <picture>
                <source srcset="
                    ./images/desktop-images/slider/homepage-hotel-section-slider-image2-245.jpg    1x,
                    ./images/desktop-images/slider/homepage-hotel-section-slider-image2-245@2x.jpg 2x"
                     media="(min-width: 1280px)" />
                <source srcset="
                    ./images/tablet-images/slider/homepage-hotel-section-slider-image2-194.jpg    1x,
                    ./images/tablet-images/slider/homepage-hotel-section-slider-image2-194@2x.jpg 2x"
                     media="(max-width: 414px)" />
                <img src="./images/tablet-images/slider/homepage-hotel-section-slider-image2-194.jpg"
                    alt="На фото складені в рулон чотири білих рушники на ліжку"
                    min-width="194" class="about-hotel__slider-photo" />
            </picture>
            <picture>
                <source srcset="
                    ./images/desktop-images/slider/homepage-hotel-section-slider-image1-245.jpg    1x,
                    ./images/desktop-images/slider/homepage-hotel-section-slider-image1-245@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="
                    ./images/tablet-images/slider/homepage-hotel-section-slider-image1-194.jpg    1x,
                    ./images/tablet-images/slider/homepage-hotel-section-slider-image1-194@2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="
                    ./images/mobile-images/slider/homepage-hotel-section-slider-image2-245.jpg    1x,
                    ./images/mobile-images/slider/homepage-hotel-section-slider-image2-245@2x.jpg 2x"
                    media="(max-width: 414px)" />
                <img src="./images/mobile-images/slider/homepage-hotel-section-slider-image2-245.jpg"
                    alt="На фото рецепшн з адміністратором та клієнтом" min-width="245"
                    class="about-hotel__slider-img" />
            </picture>                
        </div>
    </div>
</section>
