<section class="contacts">
  <div class="container contacts-info">
    <div class="contacts-data">
      <h1 class="visually-hidden">Контакти</h1>
      <p class="company-title company-title--gray" lang="uk">mimino</p>
      <h2 class="contacts__subtitle">Ресторанно-готельний комплекс</h2>
      <ul class="contacts-list list">
        <li class="contacts-list__item">
          <p class="contacts-list__title">Ресторан</p>
          <a href="tel:095 555 95 33" class="contacts-list__link link">
            <svg class="contacts-list__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            095 555 95 33</a
          >
        </li>
        <li class="contacts-list__item">
          <p class="contacts-list__title">Готель</p>
          <div class="contacts-list__link contacts-list__link--united">
            <a href="tel:066 849 10 89" class="link">
              <svg class="contacts-list__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              066 849 10 89</a
            >
            <a href="tel:067 275 85 40" class="link"> 067 275 85 40</a>
          </div>
        </li>
        <li class="contacts-list__item">
          <p class="contacts-list__title contacts-list__title--hidden">
            Локація
          </p>
          <a
            href="https://www.google.com/maps/place/вулиця+Маршала+Бірюзова,+15,+Полтава,+Полтавська+область,+36000/@49.599194,34.5265463,17z/data=!4m6!3m5!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463!16s%2Fg%2F1tggm4y1"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contacts-list__link contacts-list__link--expanded link"
          >
            <svg class="contacts-list__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            <div class="contacts-list__address">
              Україна, м. Полтава, вул. Маршала Бірюзова, 15
            </div></a
          >
        </li>
      </ul>
    </div>

    <div class="map-responsive">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18158.690474545176!2d34.5349519!3d49.5901867!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0ZfQvdCwLCAzNjAwMA!5e1!3m2!1suk!2suk!4v1669924151146!5m2!1suk!2suk"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
