<br />Розмітка секції "Деталі про наш готель" (секція 5)
<section class="section hotel-details"> 
  <div class="container">
    <div class="head-container head-container--hotel">
  <a href="" class="logo restaurant-details__logo logo--hotel">MIMIHO</a>
  <h2 class="restaurant-details__title hotel-details__title">Готель</h2>
  <p class="restaurant-details__description hotel-details__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
</div>
<div class="thumb thumb--hotel">
  <ul class="restaurant-details__list restaurant-details__list--hotel">
    <li class="restaurant-details__item"><img 
      srcset="./images/desktop-images/slider/homepage-hotel-section-slider-image3-270.jpg 270w, ./images/desktop-images/slider/homepage-hotel-section-slider-image3-270@2x.jpg 270w"
      src="./images/desktop-images/slider/homepage-hotel-section-slider-image3-270.jpg" alt="room" width="270" height="270"></li>
    <li class="restaurant-details__item"><img 
      srcset="./images/desktop-images/slider/homepage-hotel-section-slider-image4-162.jpg 162w, ./images/desktop-images/slider/homepage-hotel-section-slider-image4-162@2x.jpg 162w"
      src="./images/desktop-images/slider/homepage-hotel-section-slider-image4-162.jpg" alt="meal"  width="162" height="270"></li>
    <li class="restaurant-details__item"><img 
      srcset="./images/desktop-images/slider/homepage-hotel-section-slider-image5-270.jpg 270w, ./images/desktop-images/slider/homepage-hotel-section-slider-image5-270@2x.jpg 270w"
      src="./images/desktop-images/slider/homepage-hotel-section-slider-image5-270.jpg" alt="service"  width="270" height="270"></li>
  </ul>
  <div class="button-container button-container--hotel">
<button class="restaurant-details__button hotel-details__button hotel-details__button--book"><a href="" class="restaurant-details__link">Забронювати номер</a></button>
<button class="restaurant-details__button hotel-details__button hotel-details__button--review"><a href="./restaurant-page.html" class="restaurant-details__link">Переглянути ціни</a></button></div>
</div>
<svg width="32" height="32" class="arrow-logo arrow-logo--hotel-left">
  <use href="./images/icons.svg#icon-arrow-left"></use>
</svg>
<svg width="32" height="32" class="arrow-logo arrow-logo--hotel-right ">
  <use href="./images/icons.svg#icon-arrow-right"></use>
</svg>
</div>
</section>