<br />Розмітка секції "Деталі про наш ресторан" (секція 3)
<section class="section restaurant-details">
  <div class="gradient-stripes">
</div>
  <div class="container container--restaurant">
    <div class="head-container head-container--restaurant">
      <a href="" class="logo restaurant-details__logo">MIMIHO</a>
      <h2 class="restaurant-details__title">Ресторан</h2>
      <p class="restaurant-details__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="thumb">
      <div class="button-container">
        <button
          class="restaurant-details__button restaurant-details__button--book"
        >
          <span
            ><a href="" class="restaurant-details__link"
              >Забронювати столик</a
            ></span
          >
        </button>
        <button
          class="restaurant-details__button restaurant-details__button--review"
        >
          <span
            ><a href="./restaurant-page.html" class="restaurant-details__link"
              >Переглянути меню</a
            ></span
          >
        </button>
      </div>
      <ul class="restaurant-details__list">
        <li class="restaurant-details__item">
          <img
            class="restaurant-details__image restaurant-details__image--meat"
            srcset="
              ./images/desktop-images/slider/homepage-restaurant-section-slider-image3-270.jpg    270w,
              ./images/desktop-images/slider/homepage-restaurant-section-slider-image3-270@2x.jpg 270w, ./images/mobile-images/slider/homepage-restaurant-section-slider-image1-274.jpg 274w, ./images/mobile-images/slider/homepage-restaurant-section-slider-image1-274@2x.jpg 274w
            "
            src="./images/desktop-images/slider/homepage-restaurant-section-slider-image3-270.jpg"
            alt="meat"
            width="270"
            height="270"
          />
        </li>
        <li class="restaurant-details__item">
          <img
            class="restaurant-details__image restaurant-details__image--fish"
            srcset="
              ./images/desktop-images/slider/homepage-restaurant-section-slider-image4-162.jpg 1x,
              ./images/desktop-images/slider/homepage-restaurant-section-slider-image4-162@2x.jpg 2x,
              ./images/mobile-images/slider/homepage-restaurant-fish-mobile-slider.png 1x, ./images/mobile-images/slider/homepage-restaurant-fish-mobile-slider@2x.png 2x
            "
            src="./images/mobile-images/slider/homepage-restaurant-fish-mobile-slider.png"
            alt="fish"
          />
        </li>
        <li class="restaurant-details__item">
          <img
            class="restaurant-details__image restaurant-details__image--salad"
            srcset="
              ./images/desktop-images/slider/homepage-restaurant-section-slider-image5-270.jpg 1x,
              ./images/desktop-images/slider/homepage-restaurant-section-slider-image5-270@2x.jpg 2x, ./images/tablet-images/slider/homepage-restaurant-section-slider-image5-162.jpg 1x, ./images/tablet-images/slider/homepage-restaurant-section-slider-image5-162@2x.jpg  2x
            "
            src="./images/desktop-images/slider/homepage-restaurant-section-slider-image5-270.jpg"
            alt="salad"
          />
        </li>
      </ul>
    </div>
    <svg width="32" height="32" class="arrow-logo arrow-logo--left">
      <use href="./images/icons.svg#icon-arrow-left"></use>
    </svg>
    <svg width="32" height="32" class="arrow-logo arrow-logo--right">
      <use href="./images/icons.svg#icon-arrow-right"></use>
    </svg>
  </div>
</section>
