<br />Розмітка секції "Деталі про наш готель" (секція 5)
<section class="section hotel-details"> 
  <div class="container">
  <a href="" class="logo restaurant-details__logo">MIMIHO</a>
  <h2 class="restaurant-details__title">Готель</h2>
  <p class="restaurant-details__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
<button class="restaurant-details__button restaurant-details__button--book"><a href="" class="restaurant-details__link">Забронювати номер</a></button>
<button class="restaurant-details__button  restaurant-details__button--review"><a href="./restaurant-page.html" class="restaurant-details__link">Переглянути ціни</a></button>
</div>
</section>