<section class="restaurant-details restaurant-details--hotel">
  <div class="restaurant-details__gradient">
    <div class="container">
      <div class="restaurant-details__meta restaurant-details__meta--hotel">
        <h2
          href=""
          class="company-title company-title--inverse restaurant-details__company-title"
        >
          mimiho
        </h2>
        <h3 class="restaurant-details__subtitle">Готель</h3>
        <p
          class="restaurant-details__description restaurant-details__description--hotel"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
      <div class="restaurant-details__thumb restaurant-details__thumb--hotel">
        <div
          class="restaurant-details__slider restaurant-details__slider--hotel"
        >
          <div class="restaurant-details__image-set">
            <ul
              class="restaurant-details__list restaurant-details__list--hotel list"
            >
              <li
                class="restaurant-details__item restaurant-details__item--hotel"
              >
                <img
                  class="restaurant-details__image restaurant-details__image--meat"
                  src="./images/mobile-images/slider/homepage-restaurant-section-slider-image1-274.jpg"
                  alt="meat"
                  width="270"
                  height="270"
                />
              </li>
              <!-- <li class="restaurant-details__item">
                <img
                  class="restaurant-details__image restaurant-details__image--meat"
                  src="./images/mobile-images/slider/homepage-restaurant-section-slider-image1-274.jpg"
                  alt="meat"
                  width="270"
                  height="270"
                />
              </li>
              <li class="restaurant-details__item">
                <img
                  class="restaurant-details__image restaurant-details__image--meat"
                  src="./images/mobile-images/slider/homepage-restaurant-section-slider-image1-274.jpg"
                  alt="meat"
                  width="270"
                  height="270"
                />
              </li> -->
            </ul>
          </div>

          <div
            class="restaurant-details__arrow restaurant-details__arrow--hotel"
          >
            <svg width="32" height="32" class="arrow-logo arrow-logo--left">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
            <svg width="32" height="32" class="arrow-logo arrow-logo--right">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
        <div class="button-container button-container--hotel">
          <button class="button restaurant-details__button js-open-modal" data-modal="1">
            Забронювати столик
          </button>
          <button class="button restaurant-details__button">
            Переглянути меню
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
