<br />Розмітка секції "Деталі про наш ресторан" (секція 3)
<section class="section restaurant-details">
  <div class="container">
    <div class="head-container">
  <a href="" class="logo restaurant-details__logo">MIMIHO</a>
  <h2 class="restaurant-details__title">Ресторан</h2>
  <p class="restaurant-details__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p></div>
  <div class="thumb">
    <div class="button-container">
<button class="restaurant-details__button restaurant-details__button--book"><a href="" class="restaurant-details__link">Забронювати столик</a></button>
<button class="restaurant-details__button  restaurant-details__button--review"><a href="./restaurant-page.html" class="restaurant-details__link">Переглянути меню</a></button></div>
<ul class="restaurant-details__list">
  <li class="restaurant-details__item"><img class="restaurant-details__image" src="./images/desktop-images/slider/homepage-restaurant-section-slider-image3-270.jpg" alt="meat" width="270" height="270"></li>
  <li class="restaurant-details__item"><img class="restaurant-details__image" src="./images/desktop-images/slider/homepage-restaurant-section-slider-image4-162.jpg" alt="fish" width="162" height="270"></li>
  <li class="restaurant-details__item"><img class="restaurant-details__image" src="./images/desktop-images/slider/homepage-restaurant-section-slider-image5-270.jpg" alt="salad" width="270" height="270"></li>
</ul>
</div>
</div>

</section>