<br />Розмітка секції "Деталі про наш ресторан" (секція 3)
<section class="section restaurant-details">
  <div class="container">
  <a href="" class="logo restaurant-details__logo">MIMIHO</a>
  <h2 class="restaurant-details__title">Ресторан</h2>
  <p class="restaurant-details__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
<button class="restaurant-details__button"><a href="" class="restaurant-details__link">Забронювати столик</a></button>
<button class="restaurant-details__button"><a href="" class="restaurant-details__link">Переглянути меню</a></button>
</div>
</section>