
<section class="hero hero--homepage">
    <div class="container">
        <address class="hero__address">
            <svg class="map-pointer" width="20px" height="20px">
                <use href="./images/icons.svg#icon-location"></use>
            </svg> 
            <p>Україна, м. Полтава, вул. Маршала Бірюзова, 15</p>
        </address>
        <h1 class="logo">Міміно</h1>
        <h2 class="hero-title__description">Ресторанно-готельний комплекс</h2>
        <h3 class="company-slogan">Смак життя 24/7</h3>
        <ul class="ordering">
            <button data-modal-open class="button button--transparent button--transparent-hero" type="button">Забронювати столик</button>
            <!-- модальне вікно замовити столик -->
            <button data-modal-open class="button button--transparent button--transparent-hero" type="button">Забронювати номер</button>
            <!-- модальне вікно замовити  -->
        </ul>
        <ul class="social-area">
            <!--прибрати поінтери списку-->
            <li class="social-area__item">
                <!-- інстаграм -->
                <a class="social-area__link" href="#" aria-label="Instagram">
                    <span class="visually-hidden">інстаграм</span>
                    <svg class="social-area__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-area__item">
                <!-- фейсбук -->
                <a class="social-area__link" href="#" aria-label="Facebook">
                    <span class="visually-hidden">фейсбук</span>
                    <svg class="social-area__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-area__item">
                <!-- лінкед ін -->
                <a class="social-area__link" href="#" aria-label="LinkedIn">
                    <span class="visually-hidden">телеграм</span>
                    <svg class="social-area__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-telegram4"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>