<section class="our-restaurant">
  <div class="container">
    <h2 class="visually-hidden">Про ресторан</h2>
    <p class="company-slogan our-restaurant__company-slogan" lang="la">
      Amet minim mollit non
    </p>
    <p
      class="company-title company-title--gray our-restaurant__company-title"
      lang="la"
    >
      mimino
    </p>
    <p class="our-restaurant__text" lang="la">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/mobile-images/restaurant-interior1-244.jpg    1x,
          ./images/mobile-images/restaurant-interior1-244@2x.jpg 2x
        "
        media="(max-width:1023px)"
      />
      <source
        srcset="
          ./images/tablet-images/restaurant-interior1-400.jpg    1x,
          ./images/tablet-images/restaurant-interior1-400@2x.jpg 2x
        "
        media="(min-width:1024px) and (max-width:1279px)"
      />

      <img
        class="our-restaurant__photo our-restaurant__photo--right"
        srcset="
          ./images/desktop-images/restaurant-interior1-460.jpg    1x,
          ./images/desktop-images/restaurant-interior1-460@2x.jpg 2x
        "
        src="./images/desktop-images/restaurant-interior1-460.jpg"
        alt="Вигляд однієї із зал"
        sizes="(min-width:1024px) 35vw, 60vw"
      />
    </picture>
    <div class="our-restaurant__container">
      <picture>
        <source
          srcset="
            ./images/mobile-images/fresh-meat-200.jpg    1x,
            ./images/mobile-images/fresh-meat-200@2x.jpg 2x
          "
          media="(max-width:1023px)"
        />
        <source
          srcset="
            ./images/tablet-images/fresh-meat-350.jpg    1x,
            ./images/tablet-images/fresh-meat-350@2x.jpg 2x
          "
          media="(min-width:1024px) and (max-width:1279px)"
        />

        <img
          class="our-restaurant__photo our-restaurant__photo--reset"
          srcset="
            ./images/desktop-images/fresh-meat-460.jpg    1x,
            ./images/desktop-images/fresh-meat-460@2x.jpg 2x
          "
          src="./images/desktop-images/fresh-meat-460.jpg"
          alt="Вигляд іншої зали"
          sizes="(min-width:1024px) 35vw, 60vw"
        />
      </picture>
      <p class="our-restaurant__text our-restaurant__text--brown" lang="la">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>
