<!-- <br />Розмітка секції "Меню" (секція 3) -->
<section class="section-menu">
    <div class="container lines">
    <h1 class="menu__title">Меню ресторану</h1>
        <div class="menu__first-container">
        <h2 class="menu__type-dish">Гарячі страви</h2>
            <table>
               <tbody>
                    <tr>
                            <td  class="menu__item hot">Борщ з телятини з квасолею <span class="menu__ingredients">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</span></td>
                            <td class="menu__weight weight-hot">400 г</td>
                        <td class="menu__price">240 грн</td>
                    </tr>
                    <tr>
                        <td class="menu__item hot">Суп сирний з куркою <span class="menu__ingredients">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</span></td>
                        <td class="menu__weight weight-hot">400 г</td>
                        <td class="menu__price">200 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__item hot">Паста карбонара <span class="menu__ingredients">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</span></td>
                        <td class="menu__weight weight-hot">350 г</td>
                        <td class="menu__price">430 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__item hot">Стейк зі свинини <span class="menu__ingredients">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</span></td>
                        <td class="menu__weight weight-hot">400 г</td>
                        <td class="menu__price">500 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__item hot">Горбуша в соусі з білого вина <span class="menu__ingredients">Ніжна горбуша, вершковий соус на основі білого вина</span></td>
                        <td class="menu__weight weight-hot">400 г</td>
                        <td class="menu__price">400 грн</td>
                    </tr>                    
               </tbody>
            </table>
            
        <h2 class="menu__type-dish">Гарніри та закуски</h2>
            <table>
               <tbody>
                    <tr valign="top">
                        <td class="menu__item snack">Запечені овочі <span class="menu__ingredients">Кабачок, перець, помідор, баклажан</span></td>
                        <td class="menu__weight weight-snack">200 г</td>
                        <td class="menu__price">230 грн</td>
                    </tr>                    
                    <tr valign="top">
                        <td class="menu__item snack">Картопля фрі <span class="menu__ingredients">Картопля, соус томатний</span></td>
                        <td class="menu__weight weight-snack">150 г</td>
                        <td class="menu__price">160 грн</td>
                    </tr>                    
                    <tr valign="top">
                        <td class="menu__item snack">Картопля по-селянськи <span class="menu__ingredients">Картопля, спеції, соус пікантний</span></td>
                        <td class="menu__weight weight-snack">150 г</td>
                        <td class="menu__price">160 грн</td>
                    </tr>                    
                    <tr valign="top">
                        <td class="menu__item snack">Хрумкі соління з бочки <span class="menu__ingredients">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</span></td>
                        <td class="menu__weight weight-snack">250 г</td>
                        <td class="menu__price">350 грн</td>
                    </tr>                    
                    <tr valign="top">
                        <td class="menu__item snack">Крильця курячі в медовому соусі <span class="menu__ingredients">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</span></td>
                        <td class="menu__weight weight-snack">400 г</td>
                        <td class="menu__price">420 грн</td>
                    </tr>                    
               </tbody>
            </table>
            </div>

            <div class="menu__second-container">

        <h2 class="menu__type-dish">Салати</h2>
            <table>
               <tbody>
                    <tr>
                        <td class="menu__item salad">Цезар з куркою <span class="menu__ingredients">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</span></td>
                        <td class="menu__weight weight-salad">230 г</td>
                        <td class="menu__price weight-price">450 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__item salad">Цезар з креветками <span class="menu__ingredients">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</span></td>
                        <td class="menu__weight weight-salad">230 г</td>
                        <td class="menu__price weight-price">300 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__item salad">Грецький салат <span class="menu__ingredients">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</span></td>
                        <td class="menu__weight weight-salad">230 г</td>
                        <td class="menu__price weight-price">280 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__item salad">М’ясний салат <span class="menu__ingredients">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</span></td>
                        <td class="menu__weight weight-salad">230 г</td>
                        <td class="menu__price weight-price">300 грн</td>
                    </tr>                   
               </tbody>
            </table>

        <h2 class="menu__type-dish">Десерти</h2>
            <table>
               <tbody>
                    <tr>
                        <td class="menu__dessert-item dessert">Торт наполеон</td>
                        <td class="menu__weight weight-dessert">230 г</td>
                        <td class="menu__price">300 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__dessert-item dessert">Торт маковий</td>
                        <td class="menu__weight weight-dessert">230 г</td>
                        <td class="menu__price">300 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__dessert-item dessert">Тірамісу</td>
                        <td class="menu__weight weight-dessert">120 г</td>
                        <td class="menu__price">260 грн</td>
                    </tr>                   
               </tbody>
            </table>

        <h2 class="menu__type-dish lsat">Напої</h2>
            <table>
               <tbody>
                    <tr>
                        <td class="menu__drink-item drink">Чай чорний/зелений</td>
                        <td class="menu__weight weight-drink">500 мл</td>
                        <td class="menu__price">100 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__drink-item drink">Еспресо</td>
                        <td class="menu__weight weight-drink">30 мл</td>
                        <td class="menu__price">100 грн</td>
                    </tr>                    
                    <tr>
                        <td class="menu__drink-item drink">Американо</td>
                        <td class="menu__weight weight-drink">150 мл</td>
                        <td class="menu__price">100 грн</td>
                    </tr>                   
                    <tr>
                        <td class="menu__drink-item drink">Капучино</td>
                        <td class="menu__weight weight-drink">200 мл</td>
                        <td class="menu__price">160 грн</td>
                    </tr>                   
                    <tr>
                        <td class="menu__drink-item drink">Лате</td>
                        <td class="menu__weight weight-drink">200 мл</td>
                        <td class="menu__price">160 грн</td>
                    </tr>                   
               </tbody>
            </table>
            </div>

    <!-- <button type="button">Забронювати столик</button> -->

    </div>

</section>