<br />
Розмітка секції "Зручності у номері" (секція 2)
<section class="amenities">
    <div class="container">
        <h2 class="amenities__title" >Зручності у номері</h2>
            <p class="amenities__text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia <br /> consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <ul class="amenities__style">
                <li class="amenities__list">
                    <h3 class="amenities__subtitle">Загальні</h3>
                    <div class="amenities__container">
                        <p class="amenities__items">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                        <p class="amenities__items">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p> 
                    </div>
                </li>
                <li class="amenities__list">
                    <h3 class="amenities__subtitle">Ванна кімната</h3>
                    <div class="amenities__container amenities__container--size">
                        <p class="amenities__items amenities__items-size">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                        <p class="amenities__items">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                    
                </li>
                <li class="amenities__list">
                    <h3 class="amenities__subtitle">Спальня</h3>
                    <p class="amenities__items">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    </p>
                </li>
                <li class="amenities__list">
                <h3 class="amenities__subtitle">Кухня</h3>
                    <div class="amenities__container">
                        <p class="amenities__items">
                         Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        </p>
                        <p class="amenities__items">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        </p>
                    </div>
                </li>
                <li class="amenities__list">
                    <h3 class="amenities__subtitle">Медіа</h3>
                    <p class="amenities__items">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                    </p> 
                </li>
            </ul>
        <div class="amenities__package">
            <div class="amenities__wrapper">    
                <button class="button button--book btn" type="button">Оформити бронювання</button>
                <div class="amenities__box">
                    <a class="amenities__link" href="./hotel-page.html">Повернутися до перегляду номерів
                    </a>
                    <svg class="amenities__icon" width="24" height="24">
                        <use href="./images/icons.svg#icon-arrow-right">
                        </use>
                    </svg>
                </div>
            </div>  
        </div>       
    </div>
</section>