<br />
Розмітка секції "Зручності у номері" (секція 2)
<section class="amenities">
    <div class="container">
        <h2 class="amenities__title" >Зручності у номері</h2>
            <p class="amenities__text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia <br /> consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <h3 class="amenities__subtitle">Загальні</h3>
            <ul class="list amenities__list">
                <li class="amenities__items">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </li>
                <li class="amenities__items amenities__items--size">
                 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </li>
            </ul>
            <h3 class="amenities__subtitle">Ванна кімната</h3>
            <ul class="list amenities__list amenities__list--size">
                <li class="amenities__items amenities__items-size">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </li>
                <li class="amenities__items">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </li>
            </ul>
            <h3 class="amenities__subtitle">Спальня</h3>
            <ul class="list amenities__list">
                <li class="amenities__items">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                </li>
            </ul>
            <h3 class="amenities__subtitle">Кухня</h3>
            <ul class="list amenities__list">
                <li class="amenities__items">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                </li>
                <li class="amenities__items">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                </li>
            </ul>
            <h3 class="amenities__subtitle">Медіа</h3>
            <ul class="list amenities__list">
                <li class="amenities__items">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                </li>
            </ul>
        <div class="amenities__wrapper">    
            <button class="btn" type="button">Оформити бронювання</button>
            <a class="amenities__link" href="./hotel-page.html">Повернутися до перегляду номерів
            </a>
        </div>
    </div>
</section>