<br />
Розмітка секції "Зручності у номері" (секція 2)
<section>
    <div class="container">
        <h2>Зручності у номері</h2>
        <ul>
            <li>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </li>
            <h3>Загальні</h3>
            <li>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </li>
            <li>
             Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </li>
            <h3>Ванна кімната</h3>
            <li>
             Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </li>
            <li>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </li>
            <h3>Спальня</h3>
            <li>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
            </li>
            <h3>Кухня</h3>
            <li>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            </li>
            <li>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            </li>
            <h3>Медіа</h3>
            <li>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
            </li>
        </ul>
        <button type="button">Оформити бронювавння</button>
        <a href="./hotel-page.html">Повернутися до перегляду номерів</a>
    </div>
</section>