<section class="room-hero">
  <div class="slideshow-container">
    <div class="container room-hero-container">
      <div class="room-hero__adress room-hero__adress--mob">
        <a class="room-hero__adresslink" href="https://goo.gl/maps/A1TdqW8fbpUCnmj5A" target="_blank"
          rel="noopener noreferrer nofollow">
          <svg class="room-hero__location-svg" width="24" height="24">
            <use href='./images/icons.svg#icon-location'></use>
          </svg>
          Україна, м. Полтава,<br>
          вул. Маршала Бірюзова, 15</a>
      </div>
      <div class="room-hero-text">
        <h1 class="room-hero-text__title">ДВОМІСНИЙ НОМЕР люкс</h1>
        <p class="room-hero-text__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia
          consequat duis enim velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <div class="room-hero__adress room-hero__adress--tab">
        <a class="room-hero__adresslink" href="https://goo.gl/maps/A1TdqW8fbpUCnmj5A" target="_blank"
          rel="noopener noreferrer nofollow">
          <svg class="room-hero__location-svg" width="24" height="24">
            <use href='./images/icons.svg#icon-location'></use>
          </svg>
          Україна, м. Полтава,<br>
          вул. Маршала Бірюзова, 15</a>
      </div>
      <div class="room-hero-link">
        <ul class="room-hero__social-link">
          <li class="list room-hero__list">
            <a class="" target="_blank" href="https://www.instagram.com/">
              <svg class="hero__social-links" width="24" height="24">
                <use href='./images/icons.svg#icon-instagram'></use>
              </svg>
            </a>
          </li>
          <li class="list room-hero__list">
            <a class="" target="_blank" href="https://www.facebook.com">
              <svg class="hero__social-links" width="24" height="24">
                <use href='./images/icons.svg#icon-facebook'></use>
              </svg>
            </a>
          </li>
          <li class="list room-hero__list">
            <a class="" target="_blank" href="https://desktop.telegram.org/">
              <svg class="hero__social-links" width="24" height="24">
                <use href='./images/icons.svg#icon-telegram4'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="room-hero-button ">
          <button type="button" class="button button--header js-open-modal" data-modal="3">Переглянути ціни</button>
      </div>
    </div>
    <div class="mySlides fade">
        <picture>
          <source media="(min-width: 1280px)" srcset="
                                      /src/images/desktop-images/hotel-room-hero-background-1280.jpg 1x,
                                      /src/images/desktop-images/hotel-room-hero-background-1280@2x.jpg 2x
                                    " />
          <source media="(min-width: 1024px)" srcset="
                                      /src/images/tablet-images/hotel-room-hero-background-1024.jpg 1x,
                                      /src/images/tablet-images/hotel-room-hero-background-1024@2x.jpg 2x
                                    " />
          <source media="(max-width: 414px)" srcset="
                            /src/images/mobile-images/hotel-room-hero-background-414.jpg 1x,
                            /src/images/mobile-images/hotel-room-hero-background-414@2x.jpg 2x
                          " />
          <img src="/src/images/mobile-images/hotel-room-hero-background-414.jpg" alt="" min-width="414"
            class="slideshow-container__images" />
        </picture>
    </div>
    <div class="mySlides fade">
        <picture>
          <source media="(min-width: 1280px)" srcset="
                                      /src/images/desktop-images/homepage-hero-background-1280.jpg 1x,
                                      /src/images/desktop-images/homepage-hero-background-1280@2x.jpg 2x
                                    " />
          <source media="(min-width: 1024px)" srcset="
                                      /src/images/tablet-images/homepage-hero-background-1024.jpg 1x,
                                      /src/images/tablet-images/homepage-hero-background-1024@2x.jpg 2x
                                    " />
          <source media="(max-width: 414px)" srcset="
                            /src/images/mobile-images/homepage-hero-background-414.jpg 1x,
                            /src/images/mobile-images/homepage-hero-background-414@2x.jpg 2x
                          " />
          <img src="/src/images/mobile-images/homepage-hero-background-414.jpg" alt="" min-width="414"
            class="slideshow-container__images" />
        </picture>
    </div>
    <div class="mySlides fade">
      <picture>
        <source media="(min-width: 1280px)" srcset="
                            /src/images/desktop-images/restaurant-hero-background-1280.jpg 1x,
                            /src/images/desktop-images/restaurant-hero-background-1280@2x.jpg 2x
                          " />
        <source media="(min-width: 1024px)" srcset="
                            /src/images/tablet-images/restaurant-hero-background-1024.jpg 1x,
                            /src/images/tablet-images/restaurant-hero-background-1024@2x.jpg 2x
                          " />
        <source media="(max-width: 414px)" srcset="
                            /src/images/mobile-images/restaurant-hero-background-414.jpg 1x,
                            /src/images/mobile-images/restaurant-hero-background-414@2x.jpg 2x
                          " />
            <img src="/src/images/mobile-images/restaurant-hero-background-414.jpg" alt="" min-width="414"
              class="slideshow-container__images" />
      </picture>
    </div>
    <a class="prev-hero" onclick="plusSlides(-1)">
      <svg width="40" height="40">
        <use href="/src/images/icons.svg#icon-swiper-heder-prev"></use>
      </svg>
    </a>
    <a class="next-hero" onclick="plusSlides(1)">
      <svg width="40" height="40">
        <use href="/src/images/icons.svg#icon-swiper-heder-next"></use>
      </svg></a>
  </div>
</section>


<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>